{% comment %}

  This snippet is used for rendering the breadcrumbs links

  product - { product } *required,
  show - boolean *required,
  label - "string" *required,
  url - url *required

  Usage:

  {%- render 'breadcrumbs',
    product: your_id,
    show: your_id,
    label: your_id,
    url: your_id
  -%}

{% endcomment %}

{%- if show -%}
  {% style %}
    .breadcrumbs {
      padding: 30px 0 26px;
      font-size: 14px;
      line-height: var(--line-height-xs);
      color: var(--color-third);
    }

    .breadcrumbs path {
      fill: var(--color-primary);
    }

    .breadcrumbs a:hover {
      color: var(--color-primary);
    }

    .breadcrumbs__separator {
      display: inline-flex;
      align-items: center;
      margin: 0 12px;
    }

    .breadcrumbs__name {
      font-weight: var(--font-weight-semibold);
      display: inline-block;
      vertical-align: top;
      color: var(--color-outline);
    }
  {% endstyle %}

  {%- assign collections = product.collections -%}
  {%- assign first = collections | first -%}

  {%- capture separator --%}
    <span class="breadcrumbs__separator" aria-hidden="true">
      {%- render 'icon-arrow-right' -%}
    </span>
  {%- endcapture --%}

  <nav
    class="breadcrumbs"
    role="navigation"
    aria-label="breadcrumbs">
    <div class="breadcrumbs__container">
      {%- if label != blank and url != blank-%}
        <a href="{{ url }}" class="breadcrumbs__link" title="{{- label -}}">
          {{- label -}}
        </a>

        {{- separator -}}
      {%- endif -%}

      {%- if first.url -%}
        <a href="{{ first.url }}" class="breadcrumbs__link" title="{{- first.name -}}">
          {{- first.name -}}
        </a>

        {{- separator -}}
      {%- endif -%}

      <span class="breadcrumbs__name" title="{{- product.name -}}">
        {{- product.name -}}
      </span>
    </div>
  </nav>
{%- endif -%}

