{% comment %}

  This snippet is using for rendering the form password inputs on Edit password, Accept invitation and Register pages.

  form_name - "string" optional, the name of the form
  password_label - "string" required, the label of the first field
  password_confirmation_label - "string" required, the label of the second field
  button_label - "string" required

  Usage:

  {%- render 'form-password-session-pages',
      form: form,
      form_name: your_id,
      password_label: your_id,
      password_confirmation_label: your_id,
      button_label: your_id
  -%}

{% endcomment %}

{%- if password_label != blank -%}
  <div class="account-fieldset__block account__divider--small{% if form.errors.password %} account-fieldset--error{%- endif -%}">
    <label for="user_password" class="account-fieldset__label">
      {{- password_label -}}
    </label>

    <input
      value="{{- form.password -}}"
      class="account-fieldset__input"
      {% unless form_name == "register" %}
        autofocus="autofocus"
      {% endunless %}
      autocomplete="new-password"
      type="password"
      name="user[password]"
      id="user_password">

    <div class="account__error-message">
      {{- form.errors.password -}}
    </div>
  </div>
{%- endif -%}

{%- if password_confirmation_label != blank -%}
  <div class="account-fieldset__block{% if form.errors.password_confirmation %} account-fieldset--error{%- endif -%}">
    <label for="user_password_confirmation" class="account-fieldset__label">
      {{- password_confirmation_label -}}
    </label>

    <input
      value="{{- form.password_confirmation -}}"
      class="account-fieldset__input"
      autocomplete="new-password"
      type="password"
      name="user[password_confirmation]"
      id="user_password_confirmation">

    <div class="account__error-message">
      {{- form.errors.password_confirmation -}}
    </div>
  </div>
{%- endif -%}

{%- if button_label != blank -%}
  <div class="actions">
    <button
      type="submit"
      class="account__button button button--primary button--large"
      name="commit"
    >
      {{- button_label -}}
    </button>
  </div>
{%- endif -%}
