{% comment %}

  This snippet is used for rendering the product card

  product - { product } *required,
  img_size - string optional,
  settings - { object } *required

  Usage:

  {%- render 'product-card',
      settings: settings,
      img_size: your_string
  -%}

{% endcomment %}

{%- assign border          = settings.card_borders -%}
{%- assign color_scheme    = settings.card_color_scheme -%}
{%- assign excerpt         = "" -%}
{%- assign id              = "" -%}
{%- assign image           = "" -%}
{%- assign image_bg        = settings.card_image_background -%}
{%- assign image_fit       = settings.card_image_fit -%}
{%- assign name            = "" -%}
{%- assign period          = "" -%}
{%- assign placeholder     = settings.image_placeholder -%}
{%- assign points          = nil -%}
{%- assign price           = "" -%}
{%- assign rounded_corners = settings.card_rounded_corners -%}
{%- assign show_excerpt    = settings.show_card_excerpt -%}
{%- assign url             = "" -%}
{%- assign use_colors      = settings.use_card_color_scheme -%}
{%- assign use_focal       = settings.use_focal_images -%}

{%- if product != blank -%}
  {%- if product.images != blank -%}
    {%- assign image = product.images.first -%}
  {%- elsif placeholder != blank -%}
    {%- assign image = placeholder -%}
  {%- else -%}
    {%- assign image = blank -%}
  {%- endif -%}

  {%- if img_size == blank -%}
    {%- assign img_size = 'flexible' -%}
  {%- endif -%}

  {%- if use_focal and image_fit == 'cover' -%}
    {%- assign points = image.coordinates -%}
  {%- endif -%}

  {%- assign id      = product.id -%}
  {%- assign url     = product.url -%}
  {%- assign name    = product.name -%}
  {%- assign excerpt = product.excerpt -%}
  {%- assign price   = product | product_price -%}
  {%- assign period  = product | product_price_label -%}
{%- else -%}
  {%- if placeholder != blank -%}
    {%- assign image = placeholder -%}
  {%- else -%}
    {%- assign image = blank -%}
  {%- endif -%}

  {%- assign name    = "Product name" -%}
  {%- assign excerpt = "Product description" -%}
  {%- assign price   = "$50.00" -%}
  {%- assign period  = "1 day" -%}
{%- endif -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture card_variables -%}
  {%- case image_fit -%}
    {%- when 'cover' -%}
      --object-fit: cover;
    {%- when 'contain' -%}
      --object-fit: contain;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="product-card product-card--{{- border -}}-border{% if border == "full" and use_colors %} color-{{- color_scheme.id -}}{%- endif -%}"{% if id != blank %} id="{{- id -}}"{% endif %} style="{{- card_variables | escape -}}">
  <div class="product-card__vision{% if image_fit == 'contain' %}{% unless image_bg %} product-card__vision--white{% endunless %}{% endif %}{% unless image.url != blank %} no-image{%- endunless -%}">
    {%- if image.url != blank -%}
      {%- render 'image',
        image: image,
        image_alt: name,
        image_class: 'product-card__image',
        image_size: img_size,
        focal: points,
        settings: settings,
        use_ratio: false,
        loading: image_loading
      -%}
    {%- endif -%}

    {%- if product != blank -%}
      <a class="product-card__link" href="{{ url }}"></a>
    {%- endif -%}
  </div>

  <div class="product-card__meta">
    <div class="product-card__availability">
      {%- if product != blank -%}
        {{- product | product_availability -}}
      {%- endif -%}
    </div>

    <h3 class="product-card__title">
      {%- if product != blank -%}
        <a class="product-card__link" href="{{ url }}">
      {%- endif -%}
          {{- name -}}
      {%- if product != blank -%}
        </a>
      {%- endif -%}
    </h3>

    {%- if excerpt != blank and show_excerpt -%}
      <div class="product-card__description">{{- excerpt -}}</div>
    {%- endif -%}

    {%- if price != blank and period != blank -%}
      <div class="product-card__price-info">
        <div class="product-card__price-wrapper">
          <span class="product-card__price">{{- price -}}</span>
          <span class="product-card__price-separator">/</span>
          <span class="product-card__period">{{- period -}}</span>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
