<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="{%- if settings.color_schemes.first.settings.background_accent != blank -%}{{- settings.color_schemes.first.settings.background_accent -}}{%- else -%}{{- branding_color -}}{%- endif -%}">
    {% comment %} Base stylesheets {% endcomment %}
    {{ "base.css" | asset_url | stylesheet_tag }}

    {% unless section_preview %}
      {{ "header.css" | asset_url | stylesheet_tag }}
    {% endunless %}

    {% if section_preview %}
      {{ options_and_scripts }}
      {{ content_for_styles }}
      {{ sections_assets }}
    {% else %}
      {{ content_for_header }}
    {% endif %}

    {% comment %} Fonts {% endcomment %}
    {% render 'fonts', settings: settings %}
    {% render 'root-styles', settings: settings %}

    {%- unless section_preview -%}
      {% render 'page-metadata',
        canonical_url: canonical_url,
        page_title: page_title,
        page_description: page_description,
        page_meta_image_url: page_meta_image_url,
        page_meta_image_alt: page_meta_image_alt,
        product: product,
        shop: shop,
        locale: locale
      %}
    {%- endunless -%}
  </head>
  <body {% if section_preview %} class="preview-app"{%- endif -%}>
    {% unless section_preview %}
      <header class="header" id="header">
        <div style="padding: 16px 0">
          <div class="header__container container">
            <a href="{{ routes.root_url }}" class="header__logo">
              {%- if shop.logo_url != blank -%}
                <img class="header__logo-image" src="{{ shop.logo_url }}" alt="{{ shop.name }}">
              {%- else -%}
                <h2 class="header__logo-text">{{- shop.name -}}</h2>
              {%- endif -%}
            </a>
          </div>
        </div>
      </header>
    {% endunless %}

    <main id="main">
      {{ content_for_layout }}
    </main>

    {{ content_for_body }}

    {% comment %} Critical JavaScript files {% endcomment %}
    <script src='{{ 'js-utils-core.js' | asset_url }}' defer></script>

    {% comment %} Non-Critical JavaScript files {% endcomment %}
    {%- render 'scripts-loading', settings: settings, sections: sections -%}
  </body>
</html>
