<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="{%- if settings.color_schemes.first.settings.background_accent != blank -%}{{- settings.color_schemes.first.settings.background_accent -}}{%- else -%}{{- branding_color -}}{%- endif -%}">
    {% comment %} Base stylesheets {% endcomment %}
    {{ "base.css" | asset_url | stylesheet_tag }}
    {{ "rx.css" | asset_url | stylesheet_tag }}

    {% comment %} Fonts {% endcomment %}
    {% render 'fonts', settings: settings %}
    {% render 'root-styles', settings: settings %}

    {% render 'page-metadata',
      canonical_url: canonical_url,
      page_title: page_title,
      page_description: page_description,
      page_meta_image_url: page_meta_image_url,
      page_meta_image_alt: page_meta_image_alt,
      product: product,
      shop: shop,
      locale: locale
    %}

    {{ content_for_header }}
    {{ sections_assets }}
  </head>
  <body>

    <header class="header" id="header">
      {% section 'top-bar' %}
      {% section 'header' %}
    </header>

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% comment %} Critical JavaScript files {% endcomment %}
    <script src='{{ 'js-utils-core.js' | asset_url }}' defer></script>

    <script src="{{ "touch-device-notch.js" | asset_url }}" defer></script>
    <script src="{{ "header.js" | asset_url }}" defer></script>

    {% comment %} Non-Critical JavaScript files {% endcomment %}
    {%- render 'scripts-loading', sections: sections, settings: settings -%}

    {%- if show_mini_cart -%}
      {%- render 'variables-mini-cart' -%}
    {%- endif -%}

    {{ content_for_body }}

  </body>
</html>
