<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="{%- if settings.color_schemes.first.settings.background_accent != blank -%}{{- settings.color_schemes.first.settings.background_accent -}}{%- else -%}{{- branding_color -}}{%- endif -%}">
    {% comment %} Base stylesheets {% endcomment %}
    {{ "base.css" | asset_url | stylesheet_tag }}
    {{ "rx.css" | asset_url | stylesheet_tag }}
    {% comment %} Fonts {% endcomment %}
    <script src="https://kit.fontawesome.com/ff3b3de2b5.js" crossorigin="anonymous"></script>
    {{ content_for_header }}

    {% render 'fonts', settings: settings %}
    {% render 'root-styles', settings: settings %}
  </head>
  <body>

    <header class="header" id="header">
      {% section 'top-bar' %}
      {% section 'header' %}
    </header>

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script src="{{ "touch-device-notch.js" | asset_url }}" defer></script>
    <script src="{{ "header.js" | asset_url }}" defer></script>

    {%- if show_mini_cart -%}
      {%- render 'variables-mini-cart' -%}
    {%- endif -%}

    {{ content_for_body }}

  </body>
</html>
