{%- assign blocks = section.blocks -%}

{%- if blocks.size > 0 -%}

  {{ "articles.css" | asset_url | stylesheet_tag }}

  {%- assign button_outline_label    = section.settings.button_outline_label -%}
  {%- assign button_outline_url      = section.settings.button_outline_url -%}
  {%- assign color_scheme            = section.settings.color_scheme -%}
  {%- assign full_width              = section.settings.full_width -%}
  {%- assign image_placeholder       = settings.image_placeholder -%}
  {%- assign padding_bottom          = section.settings.padding_bottom -%}
  {%- assign padding_bottom_mobile   = section.settings.padding_bottom_mobile -%}
  {%- assign padding_top             = section.settings.padding_top -%}
  {%- assign padding_top_mobile      = section.settings.padding_top_mobile -%}
  {%- assign rounded_corners         = section.settings.rounded_corners -%}
  {%- assign show_transition_bottom  = section.settings.show_transition_bottom -%}
  {%- assign show_transition_top     = section.settings.show_transition_top -%}
  {%- assign title                   = section.settings.title -%}
  {%- assign transition_color_bottom = section.settings.transition_color_bottom -%}
  {%- assign transition_color_top    = section.settings.transition_color_top -%}
  {%- assign transition_style        = section.settings.transition_style -%}

  {%- case transition_style -%}
    {%- when "sketch" -%}
      {%- capture image_top -%}
        {%- render 'image-transition-sketch-2' -%}
      {%- endcapture -%}

      {%- capture image_bottom -%}
        {%- render 'image-transition-sketch-2' -%}
      {%- endcapture -%}

    {%- when "wave" -%}
      {%- capture image_top -%}
        {%- render 'image-transition-wave-1' -%}
      {%- endcapture -%}

      {%- capture image_bottom -%}
        {%- render 'image-transition-wave-1' -%}
      {%- endcapture -%}
  {%- endcase -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 40px;
      {%- when 'medium' -%}
        --padding-top: 80px;
      {%- when 'large' -%}
        --padding-top: 112px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 40px;
      {%- when 'medium' -%}
        --padding-bottom: 80px;
      {%- when 'large' -%}
        --padding-bottom: 112px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 18px;
      {%- when 'medium' -%}
        --padding-top-mobile: 40px;
      {%- when 'large' -%}
        --padding-top-mobile: 60px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 18px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 40px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 60px;
    {%- endcase -%}

    {%- case rounded_corners -%}
      {%- when 'none' -%}
        --border-radius-rounded-blocks: 0px;
      {%- when 'small' -%}
        --border-radius-rounded-blocks: 8px;
      {%- when 'medium' -%}
        --border-radius-rounded-blocks: 16px;
      {%- when 'large' -%}
        --border-radius-rounded-blocks: 32px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  {%- unless full_width -%}
    <div class="articles__container container">
  {%- endunless -%}
      <div
        class="articles__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} articles__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} articles__wrapper--padding-bottom{%- endif -%}"
        style="{{- variables | escape -}}"
      >
        {%- if full_width -%}
          <div class="articles__container container">
        {%- endif -%}

          {%- if title != blank or button_outline_label != blank and button_outline_url != blank -%}
            <div class="articles__top">
              {%- if title != blank -%}
                <h2 class="articles__title h4">{{- title -}}</h2>
              {%- endif -%}

              {%- if button_outline_label != blank and button_outline_url != blank -%}
                <div class="articles__show-wrapper">
                  <a href="{{ button_outline_url }}" class="articles__show-button button button--outlined button--large">
                    {{- button_outline_label -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          <div class="articles__list articles__list--{{- blocks.size -}}">
            {%- for block in blocks -%}
              {%- assign article_tag     = block.settings.article_tag -%}
              {%- assign heading         = block.settings.heading -%}
              {%- assign text            = block.settings.text -%}
              {%- assign article_btn     = block.settings.article_btn -%}
              {%- assign article_btn_url = block.settings.article_btn_url -%}
              {%- assign image           = block.settings.image -%}

              {%- if image != blank -%}
                {%- assign image = image -%}
              {%- elsif image_placeholder != blank -%}
                {%- assign image = image_placeholder -%}
              {%- else -%}
                {%- assign image = blank -%}
              {%- endif -%}

              <div class="articles__item" id="{{- block.id -}}">
                <div class="articles__image-wrapper{% if image == blank %} no-image{%- endif -%}">
                  {%- if image.url != blank -%}
                    {%- render 'image',
                      image: image,
                      loading: 'lazy',
                      class: 'articles__image',
                      size: 'l'
                    -%}
                  {%- endif -%}
                </div>

                {%- if article_tag != blank or heading != blank or text != blank or article_btn != blank and article_btn_url != blank -%}
                  <div class="articles__text-area">
                    {%- if article_tag != blank -%}
                      <strong class="articles__tag tagline">{{- article_tag -}}</strong>
                    {%- endif -%}

                    {%- if heading != blank -%}
                      <h3 class="articles__heading h5">{{- heading -}}</h3>
                    {%- endif -%}

                    {%- if text != blank -%}
                      <div class="articles__text bq-content rx-content">{{- text | truncatewords: 35, " ..."  -}}</div>
                    {%- endif -%}

                    {%- if article_btn != blank and article_btn_url != blank -%}
                      <div class="articles__buttons">
                        <a href="{{ article_btn_url }}" class="articles__button button button--outlined button--large">
                          {{- article_btn -}}
                        </a>
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>

          {%- if button_outline_label != blank and button_outline_url != blank -%}
            <div class="articles__show-wrapper articles__bottom">
              <a href="{{ button_outline_url }}" class="articles__show-button button button--outlined button--large">
                {{- button_outline_label -}}
              </a>
            </div>
          {%- endif -%}
        {%- if full_width -%}
           </div>
        {%- endif -%}

        {%- render 'section-transition',
            style: transition_style,
            color_bottom: transition_color_bottom,
            color_top: transition_color_top,
            image_bottom: image_bottom,
            image_top: image_top,
            show_top: show_transition_top,
            show_bottom: show_transition_bottom
        -%}
      </div>
  {% unless full_width %}
    </div>
  {%- endunless -%}
{%- endif -%}

{% schema %}
  {
    "name": "Articles",
    "description": "Add text with images in various layouts",
    "tag": "section",
    "class": "articles",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-4"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What's in the news"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full-width background",
        "default": true
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners of background",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Section transitions"
      },
      {
        "type": "select",
        "id": "transition_style",
        "label": "Transition style",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "sketch",
            "label": "Sketch"
          },
          {
            "value": "wave",
            "label": "Wave"
          }
        ],
        "default": "fade"
      },
      {
        "type": "checkbox",
        "id": "show_transition_top",
        "label": "Show top transition",
        "default": true
      },
      {
        "type": "color",
        "id": "transition_color_top",
        "label": "Top transition color",
        "default": "#FFFFFF"
      },
      {
        "type": "checkbox",
        "id": "show_transition_bottom",
        "label": "Show bottom transition",
        "default": true
      },
      {
        "type": "color",
        "id": "transition_color_bottom",
        "label": "Bottom transition color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "text",
        "id": "button_outline_label",
        "label": "Button label",
        "default": "See all Articles",
        "info": "Leave blank to hide the button"
      },
      {
        "type": "url",
        "id": "button_outline_url",
        "label": "Button link"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "max_blocks": 6,
    "blocks": [
      {
        "type": "article",
        "name": "Article",
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "article_tag",
            "label": "Tagline",
            "default": "Tagline",
            "info": "Leave blank to hide tagline"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Title",
            "default": "Medium length section heading goes here"
          },
          {
            "type": "contentEditor",
            "id": "text",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Buttons"
          },
          {
            "type": "text",
            "id": "article_btn",
            "label": "Button label",
            "info": "Leave blank to hide the button",
            "default": "Read more"
          },
          {
            "type": "url",
            "id": "article_btn_url",
            "label": "Button link",
            "default": "booqable://root"
          }
        ]
      }
    ]
  }
{% endschema %}
