{{ "call-to-action.css" | asset_url | stylesheet_tag }}

{%- assign color_scheme          = section.settings.color_scheme -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign tag                   = section.settings.tag -%}
{%- assign title                 = section.settings.title -%}
{%- assign image                 = section.settings.image -%}
{%- assign button_label          = section.settings.button_label -%}
{%- assign button_url            = section.settings.button_url -%}
{%- assign show_transition       = section.settings.show_transition -%}
{%- assign transition_color      = section.settings.transition_color -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if show_transition -%}
    --color-transition: {{- transition_color -}};
    --color-transition-00: {{- transition_color | append: "00" -}};
  {%- endif -%}

  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 60px;
    {%- when 'medium' -%}
      --padding-top: 100px;
    {%- when 'large' -%}
      --padding-top: 200px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 60px;
    {%- when 'medium' -%}
      --padding-bottom: 100px;
    {%- when 'large' -%}
      --padding-bottom: 200px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 40px;
    {%- when 'medium' -%}
      --padding-top-mobile: 100px;
    {%- when 'large' -%}
      --padding-top-mobile: 200px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 100px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 200px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="cta__wrapper color-{{- color_scheme.id -}}">
  {%- if tag != blank or title != blank or button_label != blank and button_url != blank -%}
    <div
      class="cta__container container{% if padding_top != blank or padding_top_mobile != blank %} cta__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} cta__container--padding-bottom{%- endif -%}"
      style="{{- variables | escape -}}"
    >
      <div class="cta__text-area">
        {%- if tag != blank -%}
          <strong class="cta__tag tagline">{{- tag -}}</strong>
        {%- endif -%}

        {%- if title != blank -%}
          <h2 class="cta__title h4">{{- title -}}</h2>
        {%- endif -%}

        {%- if button_label != blank and button_url != blank -%}
          <div class="cta__buttons">
            <a href="{{ button_url }}" class="cta__button button button--primary button--large">{{- button_label -}}</a>
          </div>
        {%- endif -%}
      </div>
    </div>

    {%- if image != blank -%}
      <div class="cta__vision{% if show_transition %} cta__vision--transition{%- endif -%}">
        {%- render 'image',
          image: image,
          loading: 'lazy',
          class: 'cta__image',
          size: 'xxl'
        -%}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Call to action",
    "tag": "section",
    "class": "cta",
    "description": "Draw visitors' attention with a CTA section",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-3"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tagline",
        "default": "HIGHLIGHT",
        "info": "Leave blank to hide tagline"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Explore the ride <br> of your life"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "default": "booqable://assets/image-cta-2.jpeg"
      },
      {
        "type": "checkbox",
        "id": "show_transition",
        "label": "Show transition",
        "default": true
      },
      {
        "type": "color",
        "id": "transition_color",
        "label": "Transition color",
        "default": "#1A3333"
      },
      {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop out products",
        "info": "Leave blank to hide the button"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button link"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ]
  }
{% endschema %}
