{{ "call-to-action.css" | asset_url | stylesheet_tag }}

{%- assign button_primary_label    = section.settings.button_primary_label -%}
{%- assign button_primary_url      = section.settings.button_primary_url -%}
{%- assign color_scheme            = section.settings.color_scheme -%}
{%- assign full_width              = section.settings.full_width -%}
{%- assign height                  = section.settings.height -%}
{%- assign height_mobile           = section.settings.height_mobile -%}
{%- assign image                   = section.settings.image -%}
{%- assign overlay_background      = section.settings.overlay_background -%}
{%- assign overlay_opacity         = section.settings.overlay_opacity -%}
{%- assign padding_top             = section.settings.padding_top -%}
{%- assign padding_bottom          = section.settings.padding_bottom -%}
{%- assign padding_top_mobile      = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile   = section.settings.padding_bottom_mobile -%}
{%- assign rounded_corners         = section.settings.rounded_corners -%}
{%- assign show_overlay            = section.settings.show_overlay -%}
{%- assign show_transition_bottom  = section.settings.show_transition_bottom -%}
{%- assign show_transition_top     = section.settings.show_transition_top -%}
{%- assign tag                     = section.settings.tag -%}
{%- assign tag_image               = section.settings.tag_image -%}
{%- assign text_position           = section.settings.text_position -%}
{%- assign title                   = section.settings.title -%}
{%- assign transition_color_bottom = section.settings.transition_color_bottom -%}
{%- assign transition_color_top    = section.settings.transition_color_top -%}
{%- assign transition_style        = section.settings.transition_style -%}

{%- case transition_style -%}
  {%- when "sketch" -%}
    {%- capture image_top -%}
      {%- render 'image-transition-sketch-3' -%}
    {%- endcapture -%}

    {%- capture image_bottom -%}
      {%- render 'image-transition-sketch-2' -%}
    {%- endcapture -%}

  {%- when "wave" -%}
    {%- capture image_top -%}
      {%- render 'image-transition-wave-1' -%}
    {%- endcapture -%}

    {%- capture image_bottom -%}
      {%- render 'image-transition-wave-1' -%}
    {%- endcapture -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if show_overlay -%}
    --background-overlay: {{- overlay_background -}};
    --opacity-overlay: {{ overlay_opacity | append: "%"}};
  {%- endif -%}

  {%- case text_position -%}
    {%- when 'top' -%}
      --align-items: flex-start;
    {%- when 'middle' -%}
      --align-items: center;
    {%- when 'bottom' -%}
      --align-items: flex-end;
  {%- endcase -%}

  {%- case height -%}
    {%- when 'auto' -%}
      --min-height: auto;
    {%- when 'small' -%}
      --min-height: 500px;
    {%- when 'medium' -%}
      --min-height: 650px;
    {%- when 'large' -%}
      --min-height: 800px;
    {%- when 'large_xl' -%}
      --min-height: 1100px;
  {%- endcase -%}

  {%- case height_mobile -%}
    {%- when 'auto' -%}
      --min-height-mobile: auto;
    {%- when 'small' -%}
      --min-height-mobile: 400px;
    {%- when 'medium' -%}
      --min-height-mobile: 550px;
    {%- when 'large' -%}
      --min-height-mobile: 700px;
  {%- endcase -%}

  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 65px;
    {%- when 'medium' -%}
      --padding-top: 100px;
    {%- when 'large' -%}
      --padding-top: 200px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 65px;
    {%- when 'medium' -%}
      --padding-bottom: 100px;
    {%- when 'large' -%}
      --padding-bottom: 200px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 40px;
    {%- when 'medium' -%}
      --padding-top-mobile: 100px;
    {%- when 'large' -%}
      --padding-top-mobile: 200px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 100px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 200px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

{%- unless full_width -%}
  <div class="cta__container container">
{%- endunless -%}
    <div class="cta__wrapper{% if padding_top != blank or padding_top_mobile != blank %} cta__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} cta__wrapper--padding-bottom{% endif %} color-{{- color_scheme.id -}}" style="{{- variables | escape -}}">
      {%- if tag != blank or tag_image != blank or title != blank or button_primary_label != blank and button_primary_url != blank -%}
        {%- if full_width -%}
          <div class="cta__container container">
        {%- endif -%}
          <div class="cta__text-area">
            {%- if tag_image.url != blank -%}
              <div class="cta__tag-image-wrapper">
                {%- render 'image',
                  image: tag_image,
                  loading: 'lazy',
                  class: 'cta__tag-image',
                  custom_width: '100',
                  custom_size: '100px'
                -%}
              </div>
            {%- endif -%}

            {%- if tag != blank -%}
              <strong class="cta__tag tagline">{{- tag -}}</strong>
            {%- endif -%}

            {%- if title != blank -%}
              <h2 class="cta__title h4">{{- title -}}</h2>
            {%- endif -%}

            {%- if button_primary_label != blank and button_primary_url != blank -%}
              <div class="cta__buttons">
                <a href="{{ button_primary_url }}" class="cta__button button button--primary button--large">{{- button_primary_label -}}</a>
              </div>
            {%- endif -%}
          </div>
        {%- if full_width -%}
          </div>
        {%- endif -%}

        {%- if image.url != blank -%}
          <div class="cta__vision{% if show_overlay %} cta__vision--overlay{%- endif -%}">
            {%- render 'image',
              image: image,
              loading: 'lazy',
              class: 'cta__image',
              size: 'xxl'
            -%}
          </div>
        {%- endif -%}

        {%- render 'section-transition',
            style: transition_style,
            color_bottom: transition_color_bottom,
            color_top: transition_color_top,
            image_bottom: image_bottom,
            image_top: image_top,
            show_top: show_transition_top,
            show_bottom: show_transition_bottom
        -%}
      {%- endif -%}
    </div>
{% unless full_width %}
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "Call to action",
    "tag": "section",
    "class": "cta",
    "description": "Draw visitors' attention with a CTA section",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-3"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tagline",
        "default": "HIGHLIGHT",
        "info": "Leave blank to hide tagline"
      },
      {
        "type": "image_picker",
        "id": "tag_image",
        "label": "Tagline image (optional)",
        "info": "Shown above the tagline text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Explore the ride <br> of your life"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Vertical text positioning",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image (optional)",
        "default": "booqable://assets/image-placeholder.png"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full-width background",
        "default": true
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners of background",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "show_overlay",
        "label": "Show overlay",
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_background",
        "label": "Overlay color",
        "default": "#1A3333"
      },
      {
        "type": "number",
        "id": "overlay_opacity",
        "label": "Overlay percentage",
        "min": 0,
        "max": 100,
        "default": 80
      },
      {
        "type": "header",
        "content": "Section transitions"
      },
      {
        "type": "select",
        "id": "transition_style",
        "label": "Transition style",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "sketch",
            "label": "Sketch"
          },
          {
            "value": "wave",
            "label": "Wave"
          }
        ],
        "default": "fade"
      },
      {
        "type": "checkbox",
        "id": "show_transition_top",
        "label": "Show top transition",
        "default": false
      },
      {
        "type": "color",
        "id": "transition_color_top",
        "label": "Top transition color",
        "default": "#FFFFFF"
      },
      {
        "type": "checkbox",
        "id": "show_transition_bottom",
        "label": "Show bottom transition",
        "default": false
      },
      {
        "type": "color",
        "id": "transition_color_bottom",
        "label": "Bottom transition color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "text",
        "id": "button_primary_label",
        "label": "Button label",
        "default": "Shop out products",
        "info": "Leave blank to hide the button"
      },
      {
        "type": "url",
        "id": "button_primary_url",
        "label": "Button link",
        "default": "booqable://root"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "height",
        "label": "Height",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "large_xl",
            "label": "Extra large"
          }
        ],
        "default": "auto"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "height_mobile",
        "label": "Height",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "auto"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ]
  }
{% endschema %}
