{{ "collection-page.css" | asset_url | stylesheet_tag }}
{{ "product-card.css" | asset_url | stylesheet_tag }}

{%- assign borders               = section.settings.borders -%}
{%- assign border                = false -%}
{%- assign color_scheme          = section.settings.color_scheme -%}
{%- assign full_width            = section.settings.full_width -%}
{%- assign grid                  = section.settings.grid -%}
{%- assign image_fit             = section.settings.image_fit -%}
{%- assign image_placeholder     = settings.image_placeholder -%}
{%- assign is_focal              = false -%}
{%- assign limit                 = section.settings.limit -%}
{%- assign menu                  = false -%}
{%- assign message               = section.settings.message -%}
{%- assign mobile_toggler        = section.settings.mobile_toggler -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign rounded_corners       = section.settings.rounded_corners -%}
{%- assign show_excerpt          = section.settings.show_excerpt -%}
{%- assign sticky_sidebar        = section.settings.sticky_sidebar -%}

{%- if settings.use_focal_images and image_fit == 'cover' -%}
  {%- assign is_focal = true -%}
{%- endif -%}

{%- for block in section.blocks -%}
  {%- assign menu = block.settings.menu -%}

  {%- if menu != blank -%}
    {%- assign menu = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- case borders -%}
  {%- when 'image' -%}
    {%- assign border = "image" -%}
  {%- when 'full' -%}
    {%- assign border = "full" -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 24px;
    {%- when 'medium' -%}
      --padding-top: 60px;
    {%- when 'large' -%}
      --padding-top: 100px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 24px;
    {%- when 'medium' -%}
      --padding-bottom: 60px;
    {%- when 'large' -%}
      --padding-bottom: 100px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 40px;
    {%- when 'large' -%}
      --padding-top-mobile: 60px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 60px;
  {%- endcase -%}

  {%- case image_fit -%}
    {%- when 'cover' -%}
      --object-fit: cover;
    {%- when 'contain' -%}
      --object-fit: contain;
  {%- endcase -%}

  {%- case grid -%}
    {%- when 'two' -%}
      --grid-element: 2;
      --item-min-width: 300px;
    {%- when 'three' -%}
      --grid-element: 3;
      --item-min-width: 210px;
    {%- when 'four' -%}
      --grid-element: 4;
      --item-min-width: 160px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div class="collection-page__wrapper collection-page__wrapper-{{ grid }} color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} collection-page__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} collection-page__wrapper--padding-bottom{%- endif -%}" style="{{- variables | escape -}}">
  {%- unless full_width -%}
    <div class="collection-page__container container">
  {%- endunless -%}
    {%- if menu -%}
      <div class="collection-page__grid">
        <div class="collection-page__sidebar">
          {%- render 'sidebar',
              items: section.blocks,
              toggler: mobile_toggler,
              sticky: sticky_sidebar
          -%}
        </div>
    {%- endif -%}

        {%- if collection.products_count > 0 -%}
          {%- assign products = collection.products -%}

          {%- paginate products by limit -%}
            <div class="collection-page__products">
              {%- for product in products -%}
                {%- render 'product-card',
                    product: product,
                    placeholder: image_placeholder,
                    border: border,
                    focal: is_focal,
                    show_excerpt: show_excerpt
                -%}
              {%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
              <div class="collection-page__pagination{% if full_width %} container{%- endif -%}">
                {%- render 'pagination', paginate: paginate -%}
              </div>
            {%- endif -%}
          {%- endpaginate -%}

        {%- else -%}
          <p>{{- message -}}</p>
        {%- endif -%}

    {%- if menu -%}
      </div>
    {%- endif -%}
  {%- unless full_width -%}
    </div>
  {%- endunless -%}
</div>

{% schema %}
  {
    "name": "Product list",
    "tag": "section",
    "class": "collection-page",
    "templates": ["collection"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Stretch products to screen edges",
        "default": false
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "show_excerpt",
        "default": true,
        "label": "Show product description excerpt"
      },
      {
        "type": "select",
        "id": "image_fit",
        "label": "Image fit",
        "options": [
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "default": "cover"
      },
      {
        "type": "select",
        "id": "borders",
        "label": "Border style",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "image",
            "label": "Around image"
          },
          {
            "value": "full",
            "label": "Around whole product"
          }
        ],
        "default": "image"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Pagination limit",
        "min": 6,
        "max": 24,
        "default": 6
      },
      {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Sorry, there are no products in this collection yet",
        "info": "This message appears when the collection exist, but doesn't have any products"
      },
      {
        "type": "header",
        "content": "Sidebar settings"
      },
      {
        "type": "checkbox",
        "id": "sticky_sidebar",
        "default": true,
        "label": "Sticky sidebar"
      },
      {
        "type": "text",
        "id": "mobile_toggler",
        "label": "Menu toggle label",
        "default": "Menu"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Layout",
        "options": [
          {
            "value": "two",
            "label": "2 products"
          },
          {
            "value": "three",
            "label": "3 products"
          },
          {
            "value": "four",
            "label": "4 products"
          }
        ],
        "default": "three"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "max_blocks": 16,
    "blocks": [
      {
        "type": "item",
        "name": "Menu",
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Title",
            "default": "Collections"
          },
          {
            "type": "menu",
            "id": "menu",
            "label": "Menu"
          }
        ]
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
