{%- assign blocks = section.blocks -%}

{%- if blocks.size > 0 -%}
  {{ "columns.css" | asset_url | stylesheet_tag }}

  {%- assign color_scheme          = section.settings.color_scheme -%}
  {%- assign grid                  = section.settings.grid -%}
  {%- assign icon_style            = section.settings.icon_style -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign rounded_corners       = section.settings.rounded_corners -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 24px;
      {%- when 'medium' -%}
        --padding-top: 68px;
      {%- when 'large' -%}
        --padding-top: 112px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 24px;
      {%- when 'medium' -%}
        --padding-bottom: 68px;
      {%- when 'large' -%}
        --padding-bottom: 112px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 18px;
      {%- when 'medium' -%}
        --padding-top-mobile: 45px;
      {%- when 'large' -%}
        --padding-top-mobile: 70px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 18px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 45px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 70px;
    {%- endcase -%}

    {%- case grid -%}
      {%- when 'two' -%}
        --grid-element: 2;
      {%- when 'three' -%}
        --grid-element: 3;
    {%- endcase -%}

    {%- case rounded_corners -%}
      {%- when 'none' -%}
        --border-radius-rounded-blocks: 0px;
      {%- when 'small' -%}
        --border-radius-rounded-blocks: 8px;
      {%- when 'medium' -%}
        --border-radius-rounded-blocks: 16px;
      {%- when 'large' -%}
        --border-radius-rounded-blocks: 32px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div class="columns__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} columns__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} columns__wrapper--padding-bottom{%- endif -%}" style="{{- variables | escape -}}">
    <div class="columns__container container">
      <div class="columns__grid">
        {%- for block in blocks -%}
          {%- assign image        = block.settings.image -%}
          {%- assign icon         = block.settings.icon -%}
          {%- assign title        = block.settings.title -%}
          {%- assign text         = block.settings.text -%}
          {%- assign button_label = block.settings.button_label -%}
          {%- assign button_url   = block.settings.button_url -%}
          {%- assign button_style = block.settings.button_style -%}

          <div class="columns__item" id="{{- block.id -}}">
            {%- if image.url != blank -%}
              <div class="columns__image-wrapper">
                {%- render 'image',
                  image: image,
                  loading: 'lazy',
                  class: 'columns__image',
                  size: 'm'
                -%}
              </div>
            {%- elsif icon != "empty" -%}
              <div class="columns__icon-wrapper">
                {%- render 'icon', icon: icon, style: icon_style -%}
              </div>
            {%- endif -%}

            {%- if title != blank or text != blank or button_label != blank -%}
              <div class="columns__text">
                {%- if title != blank -%}
                  <strong class="columns__title">{{- title -}}</strong>
                {%- endif -%}

                {%- if text != blank -%}
                  <div class="columns__description bq-content rx-content">{{- text -}}</div>
                {%- endif -%}

                {%- if button_label != blank -%}
                  <div class="columns__buttons">
                    {%- if button_url != blank -%}
                      <a href="{{ button_url }}" class="columns__button button button--{{- button_style -}}{% if button_style == "primary" %} button--large{%- endif -%}">{{- button_label -}}</a>
                    {%- else -%}
                      <strong class="columns__label">{{- button_label -}}</strong>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Columns",
    "tag": "section",
    "class": "columns",
    "description": "Add sections to highhlight features or contact details",
    "blocks":[
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "contentEditor",
            "id": "text",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero."
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "empty",
                "label": "No icon"
              },
              {
                "value": "address-card",
                "label": "Address"
              },
              {
                "value": "envelope",
                "label": "Envelope"
              },
              {
                "value": "map-marker",
                "label": "Map marker"
              },
              {
                "value": "minus",
                "label": "Minus"
              },
              {
                "value": "phone",
                "label": "Phone"
              },
              {
                "value": "plus",
                "label": "Plus"
              },
              {
                "value": "tag",
                "label": "Tag"
              }
            ],
            "default": "phone",
            "info": "Only visible if no image is selected"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Buttons"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
              {
                "value": "primary",
                "label": "Button"
              },
              {
                "value": "secondary",
                "label": "Link"
              }
            ],
            "default": "secondary"
          }
        ]
      }
    ],
    "max_blocks": 9,
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "icon_style",
        "label": "Icons style",
        "options": [
          {
            "value": "filled",
            "label": "Filled"
          },
          {
            "value": "outline",
            "label": "Outlined"
          }
        ],
        "default": "outline"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Layout",
        "options": [
          {
            "value": "two",
            "label": "2 columns"
          },
          {
            "value": "three",
            "label": "3 columns"
          }
        ],
        "default": "three"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ]
  }
{% endschema %}
