{%- assign cookies_activated     = settings.cookie_notice_activated -%}
{%- assign cookies_color_scheme  = settings.cookie_notice_color_scheme -%}

{%- if cookies_activated or section_preview -%}
  {%- assign background_color      = section.settings.background_color -%}
  {%- assign button_text           = section.settings.button_text -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign paragraph_text        = section.settings.paragraph_text -%}

  {{ "cookie-notice-preferences.css" | asset_url | stylesheet_tag }}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    --section-background-color: {{ background_color }};

    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 30px;
      {%- when 'medium' -%}
        --padding-top: 60px;
      {%- when 'large' -%}
        --padding-top: 100px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 30px;
      {%- when 'medium' -%}
        --padding-bottom: 60px;
      {%- when 'large' -%}
        --padding-bottom: 100px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 30px;
      {%- when 'medium' -%}
        --padding-top-mobile: 60px;
      {%- when 'large' -%}
        --padding-top-mobile: 100px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 30px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 60px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 100px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div class="cookie-notice-preferences__wrapper{% if padding_top != blank or padding_top_mobile != blank %} cookie-notice-preferences__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} cookie-notice-preferences__wrapper--padding-bottom{%- endif -%}" style="{{- variables | escape -}}">
    <div class="cookie-notice-preferences__container container">
      <div class="cookie-notice-preferences__inner color-{{ cookies_color_scheme.id }}{% if section_preview %} cookie-notice-preferences__inner--preview{%- endif -%}">
        <div class="cookie-notice-preferences__text bq-content rx-content text-{{- section.key -}}">
          {{- paragraph_text -}}
        </div>
        <button type="button"
          class="cookie-notice-preferences__button button button--primary button--large"
          onclick="CookieNotice.showPreferencesModal()"
        >
          {{- button_text -}}
        </button>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Cookie notice preferences",
    "description": "Display information about cookies notice",
    "tag": "section",
    "class": "cookie-notice-preferences",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Section background color",
        "default": "#FFFFFF"
      },
      {
        "type": "paragraph",
        "content": "The content of this section uses the color scheme selected in Theme settings -> Cookie notice"
      },
      {
        "type": "contentEditor",
        "id": "paragraph_text",
        "label": "Paragraph",
        "default": "<p>View or change your cookie preferences.</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Cookie preferences"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ]
  }
{% endschema %}
