{{ "footer.css" | asset_url | stylesheet_tag }}

{%- assign app                   = section.blocks | where: "type", "app" | first -%}
{%- assign bottom_menu           = section.settings.bottom_menu -%}
{%- assign bottom_text           = section.settings.bottom_text -%}
{%- assign color_scheme          = section.settings.color_scheme -%}
{%- assign custom_title	         = section.settings.custom_title -%}
{%- assign full_width            = section.settings.full_width -%}
{%- assign link_facebook         = settings.social_facebook_link -%}
{%- assign link_instagram        = settings.social_instagram_link -%}
{%- assign link_linkedin         = settings.social_linkedin_link -%}
{%- assign link_pinterest        = settings.social_pinterest_link -%}
{%- assign link_snapchat         = settings.social_snapchat_link -%}
{%- assign link_tiktok           = settings.social_tiktok_link -%}
{%- assign link_tumblr           = settings.social_tumblr_link -%}
{%- assign link_twitter          = settings.social_twitter_link -%}
{%- assign link_vimeo            = settings.social_vimeo_link -%}
{%- assign link_youtube          = settings.social_youtube_link -%}
{%- assign logo	                 = section.settings.logo -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign rounded_corners       = section.settings.rounded_corners -%}
{%- assign show_payments         = section.settings.show_payments -%}

{%- if app %}
  {{ "app.css" | asset_url | stylesheet_tag }}
{%- endif -%}

{%- case template -%}
  {%- when '404' -%}
    {%- assign full_width = true -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 40px;
    {%- when 'medium' -%}
      --padding-top: 80px;
    {%- when 'large' -%}
      --padding-top: 112px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 40px;
    {%- when 'medium' -%}
      --padding-bottom: 80px;
    {%- when 'large' -%}
      --padding-bottom: 112px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 40px;
    {%- when 'large' -%}
      --padding-top-mobile: 60px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 60px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

{% comment %} Logo component {% endcomment %}
{%- capture footer_logo -%}
  {%- if logo.url != blank -%}
    {%- render 'image',
        image: logo,
        image_alt: shop.name,
        image_class: 'footer__logo-image',
        image_size: 'logo',
        keep_type: true
    -%}
  {%- elsif custom_title != blank -%}
    <h2 class="footer__logo-text">{{- custom_title -}}</h2>
  {%- elsif shop.logo_url != blank -%}
    <img class="footer__logo-image" src="{{ shop.logo_url }}" alt="{{ shop.name }}">
  {%- else -%}
    <h2 class="footer__logo-text">{{- shop.name -}}</h2>
  {%- endif -%}
{%- endcapture -%}

{% comment %} Menu component {% endcomment %}
{%- capture footer_menu -%}
  <nav class="footer__menu">
    {%- for block in section.blocks -%}
      {%- assign heading      = block.settings.heading -%}
      {%- assign menu         = block.settings.menu -%}
      {%- assign menu_align   = block.settings.menu_align -%}

      {%- capture menu_variables -%}
        {%- case menu_align -%}
          {%- when 'left' -%}
            --footer-menu-align: left;
          {%- when 'center' -%}
            --footer-menu-align: center;
          {%- when 'right' -%}
            --footer-menu-align: right;
        {%- endcase -%}
      {%- endcapture -%}

      {% case block.type %}
        {% when "menu" %}
          {%- if menu != blank -%}
            <div class="footer__menu-wrapper" id="{{- block.id -}}" style="{{- menu_variables | escape -}}">
              <strong class="footer__menu-heading">
                {{- heading -}}
              </strong>

              <ul class="footer__menu-list">
                {%- for link in menu.items -%}
                  {%- if link != blank -%}
                    <li class="footer__menu-item">
                      <a href="{{ link.url }}" class="footer__menu-link">
                        {{- link.title -}}
                      </a>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </nav>
{%- endcapture -%}

{% comment %} Payments and social component {% endcomment %}
{%- capture footer_icons -%}
  {%- if link_facebook != blank or link_instagram != blank or link_twitter != blank or link_linkedin != blank or link_pinterest != blank or link_tiktok != blank or link_tumblr != blank or link_snapchat != blank or link_youtube != blank or link_vimeo != blank or payment_methods.size > 0 or app != blank -%}
    <div class="footer__icons">
      {%- if app %}
        <div class="footer__app">
          {%- render 'app', block: app, section: section -%}
        </div>
      {%- endif -%}

      {%- if link_facebook != blank or link_instagram != blank or link_twitter != blank or link_linkedin != blank or link_pinterest != blank or link_tiktok != blank or link_tumblr != blank or link_snapchat != blank or link_youtube != blank or link_vimeo != blank -%}
        <div class="footer__social">
          {%- render 'socials', settings: settings -%}
        </div>
      {%- endif -%}

      {%- if show_payments and payment_methods.size > 0 -%}
        <div class="footer__payments payments">
          {%- render 'payments', payments: payment_methods -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endcapture -%}

{% comment %} Bottom menu component {% endcomment %}
{%- capture footer_bottom_menu -%}
  {%- if bottom_menu != blank -%}
    <nav class="footer__bottom-menu">
      <ul class="footer__bottom-menu-list">
        {%- for link in bottom_menu.items -%}
          {%- if link != blank -%}
            <li class="footer__bottom-menu-item">
              <a href="{{ link.url }}" class="footer__bottom-menu-link">
                {{- link.title -}}
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}
{%- endcapture -%}

{%- unless full_width -%}
  <div class="footer__container container">
{%- endunless -%}
    <div
      class="footer__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} footer__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} footer__wrapper--padding-bottom{%- endif -%}"
      style="{{- variables | escape -}}"
    >
  {%- if full_width -%}
      <div class="footer__container container">
  {%- endif -%}
        <div class="footer__top{% if footer_logo != blank %} footer__top--with-logo{%- endif -%}">
          <div class="footer__logo-wrapper">
            <a href="{{ routes.root_url }}" class="footer__logo">
              {{- footer_logo -}}
            </a>
          </div>

          {{- footer_menu -}}

        </div>
        <div class="footer__bottom{% if bottom_text == blank and footer_bottom_menu == blank and show_powered_by == false %} footer__bottom--copyright-hidden{%- endif -%}">
          {%- if bottom_text != blank or footer_bottom_menu != blank or settings.cookie_notice_activated or show_powered_by -%}
            <div class="footer__copy">
              {%- if bottom_text != blank or settings.cookie_notice_activated or show_powered_by -%}
                <p>
                  {%- if bottom_text != blank -%}
                    {{ bottom_text }}
                  {%- endif -%}

                  {%- if settings.cookie_notice_activated -%}
                    {%- if bottom_text != blank -%}
                      &nbsp;|&nbsp;
                    {%- endif -%}
                    <a href="{{ routes.privacy_policy_url }}">{{ section.settings.privacy_policy_link_text | escape }}</a>
                  {%- endif -%}

                  {%- if show_powered_by -%}
                    {%- if bottom_text != blank or settings.cookie_notice_activated -%}
                      &nbsp;|&nbsp;
                    {%- endif -%}
                    <a href="https://booqable.com/?source=Shop&campaign=Cart" target="_blank" aria-label="Powered by Booqable Rental Software">Powered by Booqable</a>
                  {%- endif -%}
                </p>
              {%- endif -%}

              {%- if footer_bottom_menu != blank -%}
                {{- footer_bottom_menu -}}
              {%- endif -%}
            </div>
          {%- endif -%}

          {{- footer_icons -}}

        </div>
  {%- if full_width -%}
      </div>
  {%- endif -%}
    </div>
{%- unless full_width -%}
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "templates": [],
    "layout": true,
    "settings":[
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "custom_title",
        "label": "Site title",
        "info": "Displayed when no logo is added"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-4"
      },
      {
        "type": "text",
        "id": "bottom_text",
        "label": "Bottom message",
        "default": "{{ 'now' | date: '%Y' }} {{ shop.name }}. All right reserved.",
        "info": "This template keeps the year auto-updated and returns the name of your company. Leave blank to hide the text"
      },
      {
        "type": "text",
        "id": "privacy_policy_link_text",
        "label": "Privacy policy link text",
        "default": "Privacy policy"
      },
      {
        "type": "menu",
        "id": "bottom_menu",
        "label": "Bottom menu",
        "info": "This menu located at the bottom of footer"
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners of background",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full-width background",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_payments",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "max_blocks": 5,
    "blocks":[
      {
        "type": "menu",
        "name": "Menu",
        "limit": 5,
        "settings": [
          {
            "type": "header",
            "content": "General settings"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Title",
            "default": "Column One"
          },
          {
            "type": "menu",
            "id": "menu",
            "label": "Menu",
            "info": "Submenu isn't supported"
          },
          {
            "type": "header",
            "content": "Mobile settings"
          },
          {
            "type": "select",
            "id": "menu_align",
            "label": "Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          }
        ]
      },
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}
