{{ "hero.css" | asset_url | stylesheet_tag }}

{%- assign button_primary_label    = section.settings.button_primary_label -%}
{%- assign button_primary_url      = section.settings.button_primary_url -%}
{%- assign button_outline_label    = section.settings.button_outline_label -%}
{%- assign button_outline_url      = section.settings.button_outline_url -%}
{%- assign color_scheme            = section.settings.color_scheme -%}
{%- assign description             = section.settings.description -%}
{%- assign full_width              = section.settings.full_width -%}
{%- assign height                  = section.settings.height -%}
{%- assign image                   = section.settings.image -%}
{%- assign image_mobile            = section.settings.image_mobile -%}
{%- assign image_placeholder       = settings.image_placeholder -%}
{%- assign overlay_background      = section.settings.overlay_background -%}
{%- assign overlay_color           = section.settings.overlay_color -%}
{%- assign overlay_opacity         = section.settings.overlay_opacity -%}
{%- assign padding_bottom          = section.settings.padding_bottom -%}
{%- assign padding_bottom_mobile   = section.settings.padding_bottom_mobile -%}
{%- assign padding_top             = section.settings.padding_top -%}
{%- assign padding_top_mobile      = section.settings.padding_top_mobile -%}
{%- assign rounded_corners         = section.settings.rounded_corners -%}
{%- assign show_overlay            = section.settings.show_overlay -%}
{%- assign show_transition_bottom  = section.settings.show_transition_bottom -%}
{%- assign show_transition_top     = section.settings.show_transition_top -%}
{%- assign text_position           = section.settings.text_position -%}
{%- assign text_position_mobile    = section.settings.text_position_mobile -%}
{%- assign title                   = section.settings.title -%}
{%- assign transition_color_bottom = section.settings.transition_color_bottom -%}
{%- assign transition_color_top    = section.settings.transition_color_top -%}
{%- assign transition_style        = section.settings.transition_style -%}
{%- assign video_url               = section.settings.video_url | strip -%}

{%- if image != blank -%}
  {%- assign image = image -%}
{%- elsif image_placeholder != blank -%}
  {%- assign image = image_placeholder -%}
{%- else -%}
  {%- assign image = blank -%}
{%- endif -%}

{%- case transition_style -%}
  {%- when "sketch" -%}
    {%- capture image_top -%}
      {%- render 'image-transition-sketch-3' -%}
    {%- endcapture -%}

    {%- capture image_bottom -%}
      {%- render 'image-transition-sketch-1' -%}
    {%- endcapture -%}

  {%- when "wave" -%}
    {%- capture image_top -%}
      {%- render 'image-transition-wave-1' -%}
    {%- endcapture -%}

    {%- capture image_bottom -%}
      {%- render 'image-transition-wave-1' -%}
    {%- endcapture -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case height -%}
    {%- when 'small' -%}
      --height: 730px;
    {%- when 'medium' -%}
      --height: 839px;
    {%- when 'full' -%}
      --height: 100vh;
  {%- endcase -%}

  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 30px;
    {%- when 'medium' -%}
      --padding-top: 60px;
    {%- when 'large' -%}
      --padding-top: 100px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 30px;
    {%- when 'medium' -%}
      --padding-bottom: 60px;
    {%- when 'large' -%}
      --padding-bottom: 100px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 30px;
    {%- when 'medium' -%}
      --padding-top-mobile: 50px;
    {%- when 'large' -%}
      --padding-top-mobile: 100px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 30px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 50px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 100px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}

  {%- case text_position -%}
    {%- when 'left' -%}
      --text-justify-content: flex-start;
      --text-align: left;
      --margin-bottom: 70px;
      --margin-left: 0;
      --margin-right: auto;
    {%- when 'center' -%}
      --text-justify-content: center;
      --text-align: center;
      --margin-bottom: 70px;
      --margin-left: auto;
      --margin-right: auto;
    {%- when 'right' -%}
      --text-justify-content: flex-end;
      --text-align: right;
      --margin-bottom: 70px;
      --margin-left: auto;
      --margin-right: 0;
  {%- endcase -%}

  {%- case text_position_mobile -%}
    {%- when 'left' -%}
      --text-justify-content-mobile: flex-start;
      --text-align-mobile: left;
      --margin-bottom-mobile: 60px;
      --margin-left-mobile: 0;
      --margin-right-mobile: auto;
    {%- when 'center' -%}
      --text-justify-content-mobile: center;
      --text-align-mobile: center;
      --margin-bottom-mobile: 60px;
      --margin-left-mobile: auto;
      --margin-right-mobile: auto;
    {%- when 'right' -%}
      --text-justify-content-mobile: flex-end;
      --text-align-mobile: right;
      --margin-bottom-mobile: 60px;
      --margin-left-mobile: auto;
      --margin-right-mobile: 0;
  {%- endcase -%}

  {%- if show_overlay -%}
    --color-overlay: {{- overlay_color -}};
    --background-overlay: {{- overlay_background -}};
    --background-overlay-00: {{- overlay_background | append: "00" -}};
    --overlay-opacity: {{ overlay_opacity | append: "%"}};

    {%- case text_position -%}
      {%- when 'left' -%}
        --overlay-direction: 127deg;
      {%- when 'center' -%}
        --overlay-direction: 180deg;
      {%- when 'right' -%}
        --overlay-direction: 217deg;
    {%- endcase -%}

    {%- case text_position_mobile -%}
      {%- when 'left' -%}
        --overlay-direction-mobile: 127deg;
      {%- when 'center' -%}
        --overlay-direction-mobile: 180deg;
      {%- when 'right' -%}
        --overlay-direction-mobile: 217deg;
    {%- endcase -%}
  {%- endif -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

{%- unless full_width -%}
  <div class="hero__container container">
{%- endunless -%}
    <div class="hero__wrapper hero__wrapper-{{- height -}}-height{% if padding_top != blank or padding_top_mobile != blank %} hero__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} hero__wrapper--padding-bottom{% endif %} color-{{- color_scheme.id -}}" style="{{- variables | escape -}}">
      {%- if full_width -%}
        <div class="hero__container container">
      {%- endif -%}
          <div class="hero__text-area{% if show_overlay %} hero__text-area--color{%- endif -%}">
            <div class="hero__content">
              {%- if title != blank -%}
                <h1 class="hero__title">{{- title -}}</h1>
              {%- endif -%}

              {%- if description != blank -%}
                <div class="hero__description text-medium bq-content rx-content">{{- description -}}</div>
              {%- endif -%}

              {%- if button_primary_label != blank or button_outline_label != blank -%}
                <div class="hero__buttons">
                  {%- if button_primary_label != blank and button_primary_url != blank -%}
                    <a href="{{ button_primary_url }}" class="hero__button button button--primary button--large">{{- button_primary_label -}}</a>
                  {%- endif -%}

                  {%- if button_outline_label != blank and button_outline_url != blank -%}
                    <a href="{{ button_outline_url }}" class="hero__button button button--outlined button--large">{{- button_outline_label -}}</a>
                  {%- endif -%}
                </div>
              {%- endif -%}

            </div>
          </div>
      {%- if full_width -%}
        </div>
      {%- endif -%}

      <div class="hero__vision">
        {%- if video_url contains "youtube.com" -%}
          {%- assign video_drop = video_url | split: "?v=" -%}
          {%- assign video_id   = video_drop | last | strip -%}

          <div class="hero__vision-wrapper{% if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
            <iframe
              class="hero__video"
              width="1920"
              height="1080"
              src="https://www.youtube.com/embed/{{- video_id -}}?playlist={{- video_id -}}&autoplay=1&mute=1&loop=1&controls=0&disablekb=1&fs=0&playsinline=1&enablejsapi=1&iv_load_policy=3&modestbranding=1"
              frameborder="0"
              allow="autoplay; muted; encrypted-media; fullscreen"
              allowfullscreen
              autoplay
              loop
              mute
              playsinline
            ></iframe>
          </div>

        {%- elsif video_url contains "vimeo.com" -%}
          {%- assign video_drop = video_url | split: "/" -%}
          {%- assign video_id   = video_drop | last | strip -%}

          <div class="hero__vision-wrapper{% if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
            <iframe
              class="hero__video"
              src="https://player.vimeo.com/video/{{- video_id -}}?autoplay=1&muted=1&loop=1&autopause=0&controls=0&background=1"
              width="1920"
              height="1080"
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
              autoplay
              muted
              loop
            ></iframe>
          </div>

        {%- elsif image != blank or image_mobile != blank -%}
          {%- if image.url != blank -%}
            <div class="hero__vision-wrapper{% if image_mobile != blank %} hero__vision-wrapper--desktop{% endif %}{% if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
              {%- render 'image',
                image: image,
                loading: 'lazy',
                class: 'hero__image',
                size: 'xxl'
              -%}
            </div>
          {%- endif -%}

          {%- if image_mobile.url != blank -%}
            <div class="hero__vision-wrapper hero__vision-wrapper--mobile{% if show_overlay %} hero__vision-wrapper--overlay{%- endif -%}">
              {%- render 'image',
                image: image_mobile,
                loading: 'lazy',
                class: 'hero__image',
                size: 'xxl'
              -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>

      {%- render 'section-transition',
          style: transition_style,
          color_bottom: transition_color_bottom,
          color_top: transition_color_top,
          image_bottom: image_bottom,
          image_top: image_top,
          show_top: show_transition_top,
          show_bottom: show_transition_bottom
      -%}
    </div>
{% unless full_width %}
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "description": "Engage visitors by giving great first impression",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-4"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Explore like <br> a daredevil",
        "info": "For breaking lines use <br> tag"
      },
      {
        "type": "contentEditor",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse <br> varius enim in eros elementum tristique."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile (optional)"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL (optional)",
        "info": "Youtube, Vimeo. If you paste video link here, any images will be ignored"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full-width background",
        "default": true
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners of background",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Image overlay"
      },
      {
        "type": "checkbox",
        "id": "show_overlay",
        "label": "Show overlay",
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_background",
        "label": "Overlay background color",
        "default": "#1A3333"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay text color",
        "default": "#FFFFFF"
      },
      {
        "type": "number",
        "id": "overlay_opacity",
        "label": "Overlay percentage",
        "min": 0,
        "max": 100,
        "default": 72
      },
      {
        "type": "header",
        "content": "Section transitions"
      },
      {
        "type": "select",
        "id": "transition_style",
        "label": "Transition style",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "sketch",
            "label": "Sketch"
          },
          {
            "value": "wave",
            "label": "Wave"
          }
        ],
        "default": "sketch"
      },
      {
        "type": "checkbox",
        "id": "show_transition_top",
        "label": "Show top transition",
        "default": false
      },
      {
        "type": "color",
        "id": "transition_color_top",
        "label": "Top transition color",
        "default": "#FFFFFF"
      },
      {
        "type": "checkbox",
        "id": "show_transition_bottom",
        "label": "Show bottom transition",
        "default": true
      },
      {
        "type": "color",
        "id": "transition_color_bottom",
        "label": "Bottom transition color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "text",
        "id": "button_primary_label",
        "label": "Button 1 label",
        "default": "Check out products",
        "info": "Leave blank to hide the button"
      },
      {
        "type": "url",
        "id": "button_primary_url",
        "label": "Button 1 link",
        "default": "booqable://root"
      },
      {
        "type": "text",
        "id": "button_outline_label",
        "label": "Button 2 label",
        "default": "More info",
        "info": "Leave blank to hide the button"
      },
      {
        "type": "url",
        "id": "button_outline_url",
        "label": "Button 2 link",
        "default": "booqable://root"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "height",
        "label": "Section height",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "full",
            "label": "Full"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "text_position_mobile",
        "label": "Text position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ]
  }
{% endschema %}
