{{ "account.css" | asset_url | stylesheet_tag }}

{%- assign button_login_label      = section.settings.button_login_label -%}
{%- assign continue_as_guest_label = section.settings.continue_as_guest_label-%}
{%- assign create_account_label    = section.settings.create_account_label -%}
{%- assign color_scheme            = section.settings.color_scheme -%}
{%- assign description             = section.settings.description -%}
{%- assign email_label             = section.settings.email_label -%}
{%- assign image                   = section.settings.image -%}
{%- assign password_label          = section.settings.password_label -%}
{%- assign padding_top             = section.settings.padding_top -%}
{%- assign padding_bottom          = section.settings.padding_bottom -%}
{%- assign padding_top_mobile      = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile   = section.settings.padding_bottom_mobile -%}
{%- assign reset_password_label    = section.settings.reset_password_label -%}
{%- assign rounded_corners         = section.settings.rounded_corners -%}
{%- assign show_border             = section.settings.show_border -%}
{%- assign title                   = section.settings.title -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 40px;
    {%- when 'medium' -%}
      --padding-top: 76px;
    {%- when 'large' -%}
      --padding-top: 112px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 40px;
    {%- when 'medium' -%}
      --padding-bottom: 76px;
    {%- when 'large' -%}
      --padding-bottom: 112px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 40px;
    {%- when 'large' -%}
      --padding-top-mobile: 60px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 60px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div
  class="account color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} account--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} account--padding-bottom{%- endif -%}"
  style="{{- variables | escape -}}"
>
  <div class="account__container container">
    <div class="account__inner{% if show_border %} account__inner--border{%- endif -%}">
      {%- if shop.allow_signup -%}
        <div class="account__top">
          <a href="{{ routes.register_url }}" class="account__button button button--primary button--large">
            {{- create_account_label | default: "Sign up" -}}
          </a>

          <span class="account__button button button--outlined button--large" style="pointer-events: none;">
            {{- button_login_label | default: "Log in" -}}
            </span>
        </div>
      {%- endif -%}

      <h3 class="account__title text-center">
        {{- title | default: "Log in" -}}
      </h3>

      {%- if description != blank -%}
        <div class="account__divider text-center">
          {{- description -}}
        </div>
      {%- endif -%}

      <hr class="account__separator">

      {%- if alert -%}
        <div class="account__alert account__alert--danger">
          {{- alert -}}
        </div>
      {%- endif -%}

      {%- if notice -%}
        <div class="account__alert account__alert--info">
          {{- notice -}}
        </div>
      {%- endif -%}

      {%- form 'login' -%}
        <div class="account-fieldset__block account__divider--small">
          <label for="user_email" class="account-fieldset__label">
            {{- email_label | default: "Email" | append: "*" -}}
          </label>

          <input
            value="{{- form.email -}}"
            class="account-fieldset__input"
            autofocus="autofocus"
            autocomplete="email"
            type="email"
            name="user[email]"
            id="user_email">
        </div>

        <div class="account-fieldset__block">
          <label for="user_password" class="account-fieldset__label">
            {{- password_label | default: "Password" | append: "*" -}}
          </label>

          <input
            value="{{- form.password -}}"
            class="account-fieldset__input"
            autocomplete="current-password"
            type="password"
            name="user[password]"
            id="user_password">
        </div>

        <div class="account__divider text-center">
          <button
            type="submit"
            class="account__button button button--primary button--large"
            name="commit"
          >
            {{- button_login_label | default: "Log in" -}}
          </button>
        </div>

        <div class="account__divider text-center">
          <a href="{{ routes.new_reset_password_url }}" class="account__link">
            {{- reset_password_label | default: "Forgot your password?" -}}
          </a>
        </div>

        {%- if shop.allow_guest_checkout and guest_checkout_url -%}
          <div class="account__divider text-center">
            <a href="{{ guest_checkout_url }}" class="account__button account__button--minimal">
              {{- continue_as_guest_label | default: "Continue as guest" -}}
            </a>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>
  </div>
  {%- if image.url != blank -%}
    <div class="account__background-wrapper">
      {%- render 'image',
          image: image,
          class: 'account__background-image',
          size: 'xxl'
      -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Log in form",
    "important": true,
    "unique": true,
    "tag": "section",
    "templates": ["login"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": ""
      },
      {
        "type": "text",
        "id": "email_label",
        "label": "Email label"
      },
      {
        "type": "text",
        "id": "password_label",
        "label": "Password label"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Recommended: JPEG image, 2560x1440 pixels or larger."
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "show_border",
        "label": "Show border",
        "default": true
      },
      {
        "type": "header",
        "content": "Buttons settings"
      },
      {
        "type": "text",
        "id": "button_login_label",
        "label": "Log in button label"
      },
      {
        "type": "text",
        "id": "create_account_label",
        "label": "Sign up button label"
      },
      {
        "type": "text",
        "id": "reset_password_label",
        "label": "Reset password button label"
      },
      {
        "type": "text",
        "id": "continue_as_guest_label",
        "label": "Continue as guest button label"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ]
  }
{% endschema %}
