{%- unless section.blocks.size == 0 -%}

  {{ "logos.css" | asset_url | stylesheet_tag }}

  {%- assign title                 = section.settings.title -%}
  {%- assign color_scheme          = section.settings.color_scheme -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 40px;
      {%- when 'medium' -%}
        --padding-top: 84px;
      {%- when 'large' -%}
        --padding-top: 128px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 40px;
      {%- when 'medium' -%}
        --padding-bottom: 84px;
      {%- when 'large' -%}
        --padding-bottom: 128px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 40px;
      {%- when 'medium' -%}
        --padding-top-mobile: 70px;
      {%- when 'large' -%}
        --padding-top-mobile: 100px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 40px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 70px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 100px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="logos__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} logos__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} logos__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="logos__container container">
      {%- if title != blank -%}
        <h2 class="logos__title h6">{{- title -}}</h2>
      {%- endif -%}

      <div class="logos__images">
        {%- for block in section.blocks -%}
          {%- assign image     = block.settings.image -%}
          {%- assign image_alt = block.settings.image_alt -%}

          <div class="logos__images-wrapper" id="{{- block.id -}}">
            {%- if image.url != blank -%}
              {%- render 'image',
                image: image,
                image_alt: image_alt,
                image_class: 'logos__image',
                custom_width: '750',
                custom_size: '750px'
              -%}
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endunless -%}


{% schema %}
  {
    "name": "Logos",
    "description": "Show logos of your partners or brands you cary",
    "tag": "section",
    "class": "logos",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Rent products from the following brands"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "max_blocks": 16,
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "default": "booqable://assets/image-partner-logo-preview-black.png",
            "info": "Recommended: PNG image, 750x750 pixels or larger."
          },
          {
            "type": "text",
            "id": "image_alt",
            "label": "Alternative text (optional)",
            "info": "For SEO and Accessibility purposes"
          }
        ]
      }
    ]
  }
{% endschema %}
