{{ "product-page.css" | asset_url | stylesheet_tag }}
{{ "accordion.css" | asset_url | stylesheet_tag }}

{%- assign title                 = product.name -%}
{%- assign description           = product.description -%}
{%- assign variation_label       = section.settings.variation_label -%}
{%- assign message_label         = section.settings.message_label -%}
{%- assign show_controls         = section.settings.show_controls -%}
{%- assign show_thumbnails       = section.settings.show_thumbnails -%}
{%- assign infinity_scroll       = section.settings.infinity_scroll -%}
{%- assign color_palette         = section.settings.color_palette -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign show_breadcrumbs      = section.settings.show_breadcrumbs -%}
{%- assign breadcrumbs_label     = section.settings.breadcrumbs_label -%}
{%- assign breadcrumbs_url       = section.settings.breadcrumbs_url -%}
{%- assign blocks                = section.blocks -%}
{%- assign is_focal              = settings.use_focal_images -%}

{%- assign label = "" -%}

{%- if breadcrumbs_label != blank -%}
  {%- assign label = breadcrumbs_label -%}
{%- endif -%}

{%- case breadcrumbs_url -%}
  {%- when 'home' -%}
    {%- if breadcrumbs_label == blank -%}
      {%- assign label = "Home" -%}
    {%- endif -%}

    {%- assign url = routes.root_url -%}
  {%- when 'collections' -%}
    {%- if breadcrumbs_label == blank -%}
      {%- assign label = "Collections" -%}
    {%- endif -%}

    {%- assign url = routes.collections_url -%}
  {%- when 'products' -%}
    {%- if breadcrumbs_label == blank -%}
      {%- assign label = "Shop all" -%}
    {%- endif -%}

    {%- assign url = routes.all_products_collection_url -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'none' -%}
      --padding-top: 0;
    {%- when 'small' -%}
      --padding-top: 24px;
    {%- when 'medium' -%}
      --padding-top: 36px;
    {%- when 'large' -%}
      --padding-top: 48px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'none' -%}
      --padding-bottom: 0;
    {%- when 'small' -%}
      --padding-bottom: 24px;
    {%- when 'medium' -%}
      --padding-bottom: 36px;
    {%- when 'large' -%}
      --padding-bottom: 48px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'none' -%}
      --padding-top-mobile: 0;
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 36px;
    {%- when 'large' -%}
      --padding-top-mobile: 48px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'none' -%}
      --padding-bottom-mobile: 0;
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 36px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 48px;
  {%- endcase -%}
{%- endcapture -%}

{%- include 'variables-product-gallery' -%}
{%- include 'variables-product-variations' -%}
{%- include 'variables-product-quantity' -%}
{% comment %} CSS variables end {% endcomment %}

<div class="product-main__holder{% if color_palette != blank %} palette-{{ color_palette }}{%- endif -%}" style="{{- variables | escape -}}">
  <div class="product-main__container container {% if padding_top != blank or padding_top_mobile != blank %} product-main__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} product-main__container--padding-bottom{%- endif -%}">
    {%- render 'breadcrumbs',
      product: product,
      show: show_breadcrumbs,
      label: label,
      url: url
    -%}

    <div class="product-main__wrapper">
      <div class="product-main__gallery"">
        {{ product | product_gallery:
          enable_thumbnails: show_thumbnails,
          enable_controls: show_controls,
          infinite_scroll: infinity_scroll
        }}
      </div>

      <div class="product-main__info">
          <h1 class="product-main__title">{{- title -}}</h1>

          <div class="product-main__price">
            {{- product | product_price -}}
            <span class="product-main__price-separator">/</span>
            {{- product | product_price_label -}}
          </div>

          {%- if description != blank -%}
            <div class="product-main__description">
              {{- description -}}
            </div>
          {%- endif -%}

          <div class="product-main__variation">
            {%- if product.variants.size > 1 -%}
              <div class="product-main__variation-label">
                {{- variation_label -}}
              </div>

              <div class="product-main__variation-select">
                {{- product | product_variations_select -}}
              </div>
            {%- endif -%}

            {{- product | bundle_items -}}
          </div>

          <div class="product-info__availability">
            {{- product | product_availability -}}
            {{- product | availability_calendar -}}
          </div>

          <div class="product-info__quantity">
            {{- product | product_button -}}
          </div>

          {%- if message_label != blank -%}
            <div class="product-main__shipping-info">
              <span class="product-main__shipping-label">{{- message_label -}}</span>
            </div>
          {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product information",
    "tag": "section",
    "class": "product-main",
    "templates": ["product"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "variation_label",
        "label": "Variations label",
        "default": "Variation"
      },
      {
        "type": "text",
        "id": "message_label",
        "label": "Message label",
        "default": "Free shipping over $50"
      },
      {
        "type": "select",
        "id": "color_palette",
        "label": "Color palette",
        "options": [
          {
            "value": "one",
            "label": "Color set 1"
          },
          {
            "value": "two",
            "label": "Color set 2"
          }
        ],
        "default": "one"
      },
      {
        "type": "header",
        "content": "Breadcrumbs settings"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "default": true,
        "label": "Show breadcrumbs"
      },
      {
        "type": "text",
        "id": "breadcrumbs_label",
        "label": "Breadcrumbs root label",
        "info": "Leave blank to use the default label"
      },
      {
        "type": "select",
        "id": "breadcrumbs_url",
        "label": "Breadcrumbs root link",
        "options": [
          {
            "value": "home",
            "label": "Home"
          },
          {
            "value": "collections",
            "label": "Collections"
          },
          {
            "value": "products",
            "label": "All products"
          }
        ],
        "default": "collections"
      },
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "checkbox",
        "id": "show_controls",
        "default": true,
        "label": "Show navigation buttons"
      },
      {
        "type": "checkbox",
        "id": "show_thumbnails",
        "default": true,
        "label": "Show thumbnails"
      },
      {
        "type": "checkbox",
        "id": "infinity_scroll",
        "default": true,
        "label": "Infinity scroll"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
