{{ "product-page.css" | asset_url | stylesheet_tag }}

{%- assign title                 = product.name -%}
{%- assign description           = product.description -%}
{%- assign images                = product.images -%}
{%- assign variants              = product.variants -%}
{%- assign variant_selector      = product | product_variations_select -%}
{%- assign bundle_items          = product | bundle_items -%}
{%- assign availability          = product | product_availability -%}
{%- assign availability_calendar = product | availability_calendar -%}
{%- assign quantity              = product | product_button -%}
{%- assign price                 = product | product_price -%}
{%- assign color_palette         = section.settings.color_palette -%}
{%- assign show_breadcrumbs      = section.settings.show_breadcrumbs -%}
{%- assign breadcrumbs_label     = section.settings.breadcrumbs_label -%}
{%- assign breadcrumbs_url       = section.settings.breadcrumbs_url -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign message_label         = section.settings.message_label -%}
{%- assign variant_label         = section.settings.variant_label -%}

{%- assign label = "" -%}

{%- if breadcrumbs_label != blank -%}
  {%- assign label = breadcrumbs_label -%}
{%- endif -%}

{%- case breadcrumbs_url -%}
  {%- when 'home' -%}
    {%- if breadcrumbs_label == blank -%}
      {%- assign label = "Home" -%}
    {%- endif -%}

    {%- assign url = routes.root_url -%}
  {%- when 'collections' -%}
    {%- if breadcrumbs_label == blank -%}
      {%- assign label = "Collections" -%}
    {%- endif -%}

    {%- assign url = routes.collections_url -%}
  {%- when 'products' -%}
    {%- if breadcrumbs_label == blank -%}
      {%- assign label = "Shop all" -%}
    {%- endif -%}

    {%- assign url = routes.all_products_collection_url -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 24px;
    {%- when 'medium' -%}
      --padding-top: 40px;
    {%- when 'large' -%}
      --padding-top: 60px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 24px;
    {%- when 'medium' -%}
      --padding-bottom: 40px;
    {%- when 'large' -%}
      --padding-bottom: 60px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 36px;
    {%- when 'large' -%}
      --padding-top-mobile: 48px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 36px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 48px;
  {%- endcase -%}
{%- endcapture -%}

{%- render 'variables-product-availability' -%}
{%- render 'variables-product-variations', color_palette: color_palette, settings: settings -%}
{%- render 'variables-product-quantity', color_palette: color_palette, settings: settings -%}
{% comment %} CSS variables end {% endcomment %}

<div class="product-main__wrapper palette-{{ color_palette }}" style="{{- variables | escape -}}">
  <div class="product-main__container container{% if padding_top != blank or padding_top_mobile != blank %} product-main__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} product-main__container--padding-bottom{%- endif -%}">
    {%- render 'breadcrumbs',
        product: product,
        show: show_breadcrumbs,
        label: label,
        url: url
    -%}

    <div class="product-main__grid{% if images.size > 3 %} product-main__grid--overlay{%- endif -%}">
      <ul class="product-main__gallery">
        {%- for image in images -%}
          <li class="product-main__gallery-item">
            {%- render 'image',
                image: image,
                loading: 'lazy',
                class: 'product-main__gallery-image',
                size: 'xl'
            -%}
          </li>
        {%- endfor -%}
      </ul>

      <div class="product-main__info">
        <h1 class="product-main__title">{{- title -}}</h1>
        <div class="product-main__price">{{- price -}}</div>

        {%- if description != blank -%}
          <div class="product-main__description bq-content rx-content">{{- description -}}</div>
        {%- endif -%}

        <div class="product-main__variant">
          {%- if variants.size > 1 -%}
            <div class="product-main__variant-label">{{- variant_label -}}</div>

            <div class="product-main__variant-selector">{{- variant_selector -}}</div>
          {%- endif -%}

          {{- bundle_items -}}
        </div>

        <div class="product-main__availability">
          {{- availability -}}
          {{- availability_calendar -}}
        </div>

        <div class="product-main__quantity">{{- quantity -}}</div>

        {%- if message_label != blank -%}
          <div class="product-main__message">
            <span class="product-main__message-label">{{- message_label -}}</span>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product information",
    "tag": "section",
    "class": "product-main",
    "templates": ["product"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "variant_label",
        "label": "Variations label",
        "default": "Variation"
      },
      {
        "type": "text",
        "id": "message_label",
        "label": "Message label",
        "default": "Free shipping over $50"
      },
      {
        "type": "select",
        "id": "color_palette",
        "label": "Color palette",
        "options": [
          {
            "value": "one",
            "label": "Color set 1"
          },
          {
            "value": "two",
            "label": "Color set 2"
          }
        ],
        "default": "one"
      },
      {
        "type": "header",
        "content": "Breadcrumbs settings"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "default": true,
        "label": "Show breadcrumbs"
      },
      {
        "type": "text",
        "id": "breadcrumbs_label",
        "label": "Breadcrumbs root label",
        "info": "Leave blank to use the default label"
      },
      {
        "type": "select",
        "id": "breadcrumbs_url",
        "label": "Breadcrumbs root link",
        "options": [
          {
            "value": "home",
            "label": "Home"
          },
          {
            "value": "collections",
            "label": "Collections"
          },
          {
            "value": "products",
            "label": "All products"
          }
        ],
        "default": "collections"
      },
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
