{{ "product-page.css" | asset_url | stylesheet_tag }}

{%- assign breadcrumbs_collections_label = section.settings.breadcrumbs_collections_label -%}
{%- assign breadcrumbs_root_label        = section.settings.breadcrumbs_root_label -%}
{%- assign breadcrumbs_root_url          = section.settings.breadcrumbs_root_url -%}
{%- assign bundle                        = product.products -%}
{%- assign color_scheme                  = section.settings.color_scheme -%}
{%- assign description                   = product.description -%}
{%- assign description_placement         = section.settings.description_placement -%}
{%- assign images                        = product.images -%}
{%- assign message_label                 = section.settings.message_label -%}
{%- assign padding_top                   = section.settings.padding_top -%}
{%- assign padding_bottom                = section.settings.padding_bottom -%}
{%- assign padding_top_mobile            = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile         = section.settings.padding_bottom_mobile -%}
{%- assign rounded_corners               = section.settings.rounded_corners -%}
{%- assign show_breadcrumbs              = section.settings.show_breadcrumbs -%}
{%- assign show_border                   = section.settings.show_border -%}
{%- assign show_carousel                 = section.settings.show_carousel -%}
{%- assign object_fit_desktop           = section.settings.object_fit_desktop -%}
{%- assign object_fit_mobile            = section.settings.object_fit_mobile -%}
{%- assign enable_thumbnails_desktop    = section.settings.enable_thumbnails_desktop -%}
{%- assign enable_thumbnails_mobile     = section.settings.enable_thumbnails_mobile -%}
{%- assign infinite_scroll_desktop      = section.settings.infinite_scroll_desktop -%}
{%- assign infinite_scroll_mobile       = section.settings.infinite_scroll_mobile -%}
{%- assign enable_controls_desktop      = section.settings.enable_controls_desktop -%}
{%- assign enable_controls_mobile       = section.settings.enable_controls_mobile -%}
{%- assign title                         = product.name -%}
{%- assign variant_label                 = 'store.variant' | user_t -%}
{%- assign variants                      = product.variants -%}
{%- assign variant_selector              = product | product_variations_select -%}
{%- assign availability                  = product | product_availability -%}
{%- assign availability_calendar         = product | availability_calendar -%}
{%- assign bundle_items                  = product | bundle_items -%}
{%- assign quantity                      = product | product_button -%}
{%- assign price                         = product | product_price -%}
{%- assign period                        = product | product_price_label -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 24px;
    {%- when 'medium' -%}
      --padding-top: 40px;
    {%- when 'large' -%}
      --padding-top: 60px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 24px;
    {%- when 'medium' -%}
      --padding-bottom: 40px;
    {%- when 'large' -%}
      --padding-bottom: 60px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 36px;
    {%- when 'large' -%}
      --padding-top-mobile: 48px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 36px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 48px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0;
      --border-radius-rounded-images: 0;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
      --border-radius-rounded-images: 4px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
      --border-radius-rounded-images: 8px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
      --border-radius-rounded-images: 8px;
  {%- endcase -%}
{%- endcapture -%}

{%- render 'variables-product-availability' -%}
{%- render 'variables-product-variations' -%}
{%- render 'variables-product-quantity' -%}

{%- if show_carousel -%}
  {%- render 'variables-product-gallery' -%}
{%- endif -%}
{% comment %} CSS variables end {% endcomment %}

<div class="product-main__wrapper color-{{ color_scheme.id }}" style="{{- variables | escape -}}">
  <div class="product-main__container container{% if padding_top != blank or padding_top_mobile != blank %} product-main__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} product-main__container--padding-bottom{%- endif -%}">
    {%- render 'breadcrumbs',
        product: product,
        show: show_breadcrumbs,
        routes: routes,
        root_label: breadcrumbs_root_label,
        root_url: breadcrumbs_root_url,
        collections_label: breadcrumbs_collections_label
    -%}

    <div class="product-main__grid{% if images.size > 3 %} product-main__grid--overlay{%- endif -%}">
        {%- if show_carousel -%}
          <div class="product-main__gallery">
            {{ product | product_gallery:
              image_fit_desktop: object_fit_desktop,
              enable_thumbnails_desktop: enable_thumbnails_desktop,
              infinite_scroll_desktop: infinite_scroll_desktop,
              enable_controls_desktop: enable_controls_desktop,
              image_fit_mobile: object_fit_mobile,
              enable_thumbnails_mobile: enable_thumbnails_mobile,
              infinite_scroll_mobile: infinite_scroll_mobile,
              enable_controls_mobile: enable_controls_mobile
            }}
          </div>

        {%- else -%}
          <ul class="product-main__gallery">
            {%- assign unique_image_urls = "" | split: "," -%}

            {%- for item in bundle -%}
              {%- for image in item.images -%}
                {% if forloop.first %}
                  {%- assign current_url = image.url -%}

                  {%- unless unique_image_urls contains current_url -%}
                    {%- assign unique_image_urls = unique_image_urls | append: current_url -%}

                    <li class="product-main__gallery-item{% if show_border %} product-main__gallery-item--borders{%- endif -%}">
                      {%- render 'image',
                          image: image,
                          image_class: 'product-main__gallery-image',
                          image_size: 'xl'
                      -%}
                    </li>
                  {%- endunless -%}
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
            {%- for image in images -%}
              <li class="product-main__gallery-item{% if show_border %} product-main__gallery-item--borders{%- endif -%}">
                {%- render 'image',
                    image: image,
                    image_class: 'product-main__gallery-image',
                    image_size: 'xl'
                -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      <div class="product-main__info">
        <h1 class="product-main__title">{{- title -}}</h1>

        {%- if price != blank -%}
          <div class="product-main__price">
            {{- price -}}

            {%- if period != blank -%}
              <span class="product-main__price-separator">/</span>
              {{- period -}}
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if description != blank and description_placement == "top" -%}
          <div class="product-main__description bq-content rx-content">{{- description -}}</div>
        {%- endif -%}

        <div class="product-main__variant">
          {%- if variants.size > 1 -%}
            <div class="product-main__variant-label">{{- variant_label -}}</div>

            <div class="product-main__variant-selector">{{- variant_selector -}}</div>
          {%- endif -%}

          {{- bundle_items -}}
        </div>

        <div class="product-main__availability">
          {{- availability -}}
          {{- availability_calendar -}}
        </div>

        <div class="product-main__quantity">{{- quantity -}}</div>

        {%- if message_label != blank -%}
          <div class="product-main__message">
            <span class="product-main__message-label">{{- message_label -}}</span>
          </div>
        {%- endif -%}

        {%- if description != blank and description_placement == "bottom" -%}
          <div class="product-main__description bq-content rx-content">{{- description -}}</div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product information",
    "tag": "section",
    "class": "product-main",
    "templates": ["product"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "message_label",
        "label": "Message label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "checkbox",
        "id": "show_border",
        "label": "Image border",
        "default": false
      },
      {
        "type": "select",
        "id": "description_placement",
        "label": "Product description placement",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "top"
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners of images",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Breadcrumbs settings"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "default": true,
        "label": "Show breadcrumbs"
      },
      {
        "type": "text",
        "id": "breadcrumbs_root_label",
        "label": "Breadcrumbs root label",
        "info": "Leave blank to use the default label"
      },
      {
        "type": "select",
        "id": "breadcrumbs_root_url",
        "label": "Breadcrumbs root link",
        "options": [
          {
            "value": "home",
            "label": "Home"
          },
          {
            "value": "collections",
            "label": "Collections"
          },
          {
            "value": "products",
            "label": "All products"
          }
        ],
        "default": "collections"
      },
      {
        "type": "text",
        "id": "breadcrumbs_collections_label",
        "label": "Breadcrumbs 'Collections' label",
        "info": "Visible only if 'Home' option of the root link is chosen. Leave blank to use the default label"
      },
      {
        "type": "header",
        "content": "Carousel settings"
      },
      {
        "type": "checkbox",
        "id": "show_carousel",
        "default": true,
        "label": "Show product images in carousel"
      },
      {
        "type": "header",
        "content": "Desktop Carousel"
      },
      {
        "type": "select",
        "id": "image_fit_desktop",
        "label": "Display images as",
        "mode": "select",
        "options": [
          {
            "value": "cover",
            "label": "Square"
          },
          {
            "value": "contain",
            "label": "Full image"
          }
        ],
        "default": "cover"
      },
      {
        "type": "checkbox",
        "id": "enable_controls_desktop",
        "label": "Show navigation buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_thumbnails_desktop",
        "label": "Show thumbnails",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "infinite_scroll_desktop",
        "label": "Infinity scroll",
        "default": true
      },
        {
          "type": "header",
          "content": "Mobile Carousel"
        },
        {
        "type": "select",
        "id": "image_fit_mobile",
        "label": "Display images as",
        "mode": "select",
        "options": [
          {
            "value": "cover",
            "label": "Square"
          },
          {
            "value": "contain",
            "label": "Full image"
          }
        ],
        "default": "cover"
      },
      {
        "type": "checkbox",
        "id": "enable_controls_mobile",
        "label": "Show navigation buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_thumbnails_mobile",
        "label": "Show thumbnails",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "infinite_scroll_mobile",
        "label": "Infinity scroll",
        "default": true
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
