{{ "account.css" | asset_url | stylesheet_tag }}

{%- assign button_back           = section.settings.button_back -%}
{%- assign button_primary_label  = section.settings.button_primary_label -%}
{%- assign color_scheme          = section.settings.color_scheme -%}
{%- assign description           = section.settings.description -%}
{%- assign email_label           = section.settings.email_label -%}
{%- assign image                 = section.settings.image -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign rounded_corners       = section.settings.rounded_corners -%}
{%- assign show_border           = section.settings.show_border -%}
{%- assign title                 = section.settings.title -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 40px;
    {%- when 'medium' -%}
      --padding-top: 76px;
    {%- when 'large' -%}
      --padding-top: 112px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 40px;
    {%- when 'medium' -%}
      --padding-bottom: 76px;
    {%- when 'large' -%}
      --padding-bottom: 112px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 40px;
    {%- when 'large' -%}
      --padding-top-mobile: 60px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 60px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<div
  class="account color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} account--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} account--padding-bottom{%- endif -%}"
  style="{{- variables | escape -}}"
>
  <div class="account__container container">
    <div class="account__inner{% if show_border %} account__inner--border{%- endif -%}">
      <div class="account__top account__divider--small">
        <a href="{{ routes.login_url }}" class="account__breadcrumbs">
          <i class="fa-regular fa-chevron-left account__breadcrumbs-chevron"></i>
          {{- button_back | default: "Back" -}}
        </a>
      </div>

      <h3 class="account__title text-center">
        {{- title | default: "Forgot password" -}}
      </h3>

      <div class="account__divider text-center">
        {{- description | default: "Enter your email address and within a few minutes you will receive a link with which you can set a new password." -}}
      </div>

      <hr class="account__separator">

      {%- form 'reset_password' -%}
        <div class="account-fieldset__block{% if form.errors.email %} account-fieldset--error{%- endif -%}">
          <label for="user_email" class="account-fieldset__label">
            {{- email_label | default: "Email" | append: "*" -}}
          </label>

          <input
            value="{{- form.email -}}"
            class="account-fieldset__input"
            autofocus="autofocus"
            autocomplete="email"
            type="email"
            name="user[email]"
            id="user_email">

          <div class="account__error-message">
            {{- form.errors.email -}}
          </div>
        </div>

        <button
          type="submit"
          class="account__button button button--primary button--large"
          name="commit"
        >
          {{- button_primary_label | default: "Reset password" -}}
        </button>
      {%- endform -%}
    </div>
  </div>
  {%- if image.url != blank -%}
    <div class="account__background-wrapper">
      {%- render 'image',
          image: image,
          image_class: 'account__background-image',
          image_size: 'xxl'
      -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Reset password form",
    "important": true,
    "unique": true,
    "tag": "section",
    "templates": ["reset-password"],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "email_label",
        "label": "Email label"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Recommended: JPEG image, 2560x1440 pixels or larger."
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "show_border",
        "label": "Show border",
        "default": true
      },
      {
        "type": "header",
        "content": "Buttons settings"
      },
      {
        "type": "text",
        "id": "button_back",
        "label": "Back button label"
      },
      {
        "type": "text",
        "id": "button_primary_label",
        "label": "Reset password button label"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      }
    ]
  }
{% endschema %}
