{%- unless section.blocks.size == 0 -%}

  {{ "socials.css" | asset_url | stylesheet_tag }}

  {%- assign title                 = section.settings.title -%}
  {%- assign color_scheme          = section.settings.color_scheme -%}
  {%- assign full_width            = section.settings.full_width -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign rounded_corners       = section.settings.rounded_corners -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 24px;
      {%- when 'medium' -%}
        --padding-top: 60px;
      {%- when 'large' -%}
        --padding-top: 128px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 24px;
      {%- when 'medium' -%}
        --padding-bottom: 60px;
      {%- when 'large' -%}
        --padding-bottom: 128px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 40px;
      {%- when 'medium' -%}
        --padding-top-mobile: 75px;
      {%- when 'large' -%}
        --padding-top-mobile: 100px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 40px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 75px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 100px;
    {%- endcase -%}

    {%- case rounded_corners -%}
      {%- when 'none' -%}
        --border-radius-rounded-blocks: 0px;
      {%- when 'small' -%}
        --border-radius-rounded-blocks: 8px;
      {%- when 'medium' -%}
        --border-radius-rounded-blocks: 16px;
      {%- when 'large' -%}
        --border-radius-rounded-blocks: 32px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="socials__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} socials__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} socials__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    {%- unless full_width -%}
      <div class="socials__container container">
    {%- endunless -%}
        {%- if title != blank -%}
          {%- if full_width -%}
            <div class="socials__container container">
          {%- endif -%}
              <h2 class="socials__title">{{- title -}}</h2>
          {%- if full_width -%}
            </div>
          {%- endif -%}
        {%- endif -%}

        <div class="socials__images">
          {%- for block in section.blocks -%}
            {%- assign image = block.settings.image -%}
            {%- assign url   = block.settings.url -%}

            <div class="socials__image-wrapper" id="{{- section.key -}}-{{- block.id -}}">
              {%- if image.url != blank -%}
                {%- render 'image',
                  image: image,
                  loading: 'lazy',
                  class: 'socials__image',
                  size: 'l'
                -%}

                <a class="socials__link" href="{{ url }}" target="_blank">Social media link</a>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
    {%- unless full_width -%}
      </div>
    {%- endunless -%}
  </div>
{%- endunless -%}


{% schema %}
  {
    "name": "Socials",
    "description": "Showcase social media accounts",
    "tag": "section",
    "class": "socials",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Express yourself with <br>#explorable on Instagram"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Stretch items to screen edges",
        "default": false
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
