{%- assign blocks = section.blocks -%}

{%- if blocks.size > 0 -%}
  {%- assign title                 = section.settings.title -%}
  {%- assign image_background      = section.settings.image_background -%}
  {%- assign rounded_corners       = section.settings.rounded_corners -%}
  {%- assign show_navigation       = section.settings.show_navigation -%}
  {%- assign color_scheme          = section.settings.color_scheme -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}

  {%- assign carousel = false -%}

  {%- if blocks.size > 1 -%}
    {{ "carousel.css" | asset_url | stylesheet_tag }}

    {%- assign carousel = true -%}
  {%- endif -%}

  {{ "testimonials.css" | asset_url | stylesheet_tag }}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    --slide-width: 367px;
    --slide-width-mobile: 364px;

    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 40px;
      {%- when 'medium' -%}
        --padding-top: 80px;
      {%- when 'large' -%}
        --padding-top: 112px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 40px;
      {%- when 'medium' -%}
        --padding-bottom: 80px;
      {%- when 'large' -%}
        --padding-bottom: 112px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 16px;
      {%- when 'medium' -%}
        --padding-top-mobile: 32px;
      {%- when 'large' -%}
        --padding-top-mobile: 60px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 16px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 32px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 60px;
    {%- endcase -%}

    {%- case rounded_corners -%}
      {%- when 'none' -%}
        --border-radius-rounded-blocks: 0px;
      {%- when 'small' -%}
        --border-radius-rounded-blocks: 8px;
      {%- when 'medium' -%}
        --border-radius-rounded-blocks: 16px;
      {%- when 'large' -%}
        --border-radius-rounded-blocks: 32px;
    {%- endcase -%}
  {%- endcapture -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="testimonials__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} testimonials__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} testimonials__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="testimonials__container container">
      {%- if title != blank or image_background != blank -%}
        <div class="testimonials__side{% if title == blank and image_background != blank %} testimonials__side--desktop-hidden{%- endif -%}">
          <h2 class="testimonials__title h4">{{- title -}}</h2>

          {%- if image_background.url != blank -%}
            <div class="testimonials__bg-image-wrapper">
              {%- render 'image',
                  image: image_background,
                  loading: 'lazy',
                  class: 'testimonials__bg-image',
                  size: 'm'
              -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if carousel -%}
        <div class="carousel" aria-role="Gallery">
          <div class="carousel__wrapper">
      {%- endif -%}

            {%- for block in blocks -%}
              {%- assign image                = block.settings.image -%}
              {%- assign description          = block.settings.description -%}
              {%- assign name                 = block.settings.name -%}
              {%- assign position             = block.settings.position -%}
              {%- assign button_outline_label = block.settings.button_outline_label -%}
              {%- assign button_outline_url   = block.settings.button_outline_url -%}

              {%- if carousel -%}
                <div class="carousel__item">
                  <div class="carousel__inner">
              {%- endif -%}
                    {%- if description != blank -%}
                      <div class="testimonials__content">
                        <blockquote class="testimonials__blockquote text-medium">
                          <q class="testimonials__quote bq-content rx-content">
                            {{- description -}}
                          </q>

                          {%- if name != blank or position != blank -%}
                            <footer>
                              {%- if image.url != blank -%}
                                <span class="testimonials__image-wrapper">
                                  {%- render 'image',
                                      image: image,
                                      loading: 'lazy',
                                      class: 'testimonials__image',
                                      size: 'xs'
                                  -%}
                                </span>
                              {%- endif -%}

                              <cite class="testimonials__cite">
                                {%- if name != blank -%}
                                  {{- name -}}
                                {%- endif -%}
                                {%- if position != blank -%}
                                  <small class="testimonials__small">
                                    {{- position -}}
                                  </small>
                                {%- endif -%}
                              </cite>
                            </footer>
                          {%- endif -%}
                        </blockquote>

                        {%- if button_outline_label != blank and button_outline_url != blank -%}
                          <a class="testimonials__button button button--outlined button--large" href="{{ button_outline_url }}">
                            {{- button_outline_label -}}
                          </a>
                        {%- endif -%}

                      </div>
                    {%- endif -%}
              {%- if carousel -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}

      {%- if carousel -%}
          </div>

          {%- if show_navigation -%}
            <div class="carousel__navigation hidden" aria-role="Carousel navigation">
              <span class="carousel__btn prev" aria-label="Prev slide">
                Previous slide
                {%- render 'icon-arrow-right-full' -%}
              </span>
              <span class="carousel__btn next" aria-label="Next slide">
                Next slide
                {%- render 'icon-arrow-right-full' -%}
              </span>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Testimonials",
    "description": "Show testimonials from individual customers in a sliding carousel",
    "tag": "section",
    "class": "testimonials",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-3"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What people <br>say about us"
      },
      {
        "type": "checkbox",
        "id": "show_navigation",
        "default": true,
        "label": "Show navigation buttons"
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "image_picker",
        "id": "image_background",
        "label": "Image (optional)"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "contentEditor",
            "id": "description",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name Surname"
          },
          {
            "type": "text",
            "id": "position",
            "label": "Position",
            "default": "Position, Company name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Picture"
          },
          {
            "type": "text",
            "id": "button_outline_label",
            "label": "Button label",
            "default": "Check review online",
            "info": "Leave blank to hide the button"
          },
          {
            "type": "url",
            "id": "button_outline_url",
            "label": "Button link"
          }
        ]
      }
    ]
  }
{% endschema %}
