{{ "title.css" | asset_url | stylesheet_tag }}

{%- assign custom_title            = section.settings.custom_title -%}
{%- assign custom_description      = section.settings.custom_description -%}
{%- assign image                   = section.settings.image -%}
{%- assign full_width              = section.settings.full_width -%}
{%- assign color_scheme            = section.settings.color_scheme -%}
{%- assign rounded_corners         = section.settings.rounded_corners -%}
{%- assign padding_top             = section.settings.padding_top -%}
{%- assign padding_bottom          = section.settings.padding_bottom -%}
{%- assign padding_top_mobile      = section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile   = section.settings.padding_bottom_mobile -%}
{%- assign page_title              = page_title | split: " | " | first | remove: ":"-%}
{%- assign show_transition_bottom  = section.settings.show_transition_bottom -%}
{%- assign show_transition_top     = section.settings.show_transition_top -%}
{%- assign tag                     = section.settings.tag -%}
{%- assign transition_color_bottom = section.settings.transition_color_bottom -%}
{%- assign transition_color_top    = section.settings.transition_color_top -%}
{%- assign transition_style        = section.settings.transition_style -%}

{%- case transition_style -%}
  {%- when "sketch" -%}
    {%- capture image_top -%}
      {%- render 'image-transition-sketch-3' -%}
    {%- endcapture -%}

    {%- capture image_bottom -%}
      {%- render 'image-transition-sketch-1' -%}
    {%- endcapture -%}

  {%- when "wave" -%}
    {%- capture image_top -%}
      {%- render 'image-transition-wave-1' -%}
    {%- endcapture -%}

    {%- capture image_bottom -%}
      {%- render 'image-transition-wave-1' -%}
    {%- endcapture -%}
{%- endcase -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 40px;
    {%- when 'medium' -%}
      --padding-top: 73px;
    {%- when 'large' -%}
      --padding-top: 105px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 40px;
    {%- when 'medium' -%}
      --padding-bottom: 73px;
    {%- when 'large' -%}
      --padding-bottom: 105px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 30px;
    {%- when 'medium' -%}
      --padding-top-mobile: 60px;
    {%- when 'large' -%}
      --padding-top-mobile: 90px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 30px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 60px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 90px;
  {%- endcase -%}

  {%- case rounded_corners -%}
    {%- when 'none' -%}
      --border-radius-rounded-blocks: 0px;
    {%- when 'small' -%}
      --border-radius-rounded-blocks: 8px;
    {%- when 'medium' -%}
      --border-radius-rounded-blocks: 16px;
    {%- when 'large' -%}
      --border-radius-rounded-blocks: 32px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

{%- unless full_width -%}
  <div class="title__container container">
{%- endunless -%}
    <div
      class="title__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} title__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} title__wrapper--padding-bottom{%- endif -%}"
      style="{{- variables | escape -}}"
    >
  {%- if full_width -%}
      <div class="title__container container">
  {%- endif -%}
        <div class="title__content">
          {%- if tag != blank -%}
            <strong class="title__tag tagline">{{- tag -}}</strong>
          {%- endif -%}

          <h2 class="title__heading h4">
            {{- custom_title | default: collection.title | default: page_title -}}
          </h2>

          <div class="title__description text-medium bq-content rx-content">
            {{- custom_description | default: collection.description | default: page_description -}}
          </div>
        </div>
  {%- if full_width -%}
      </div>
  {%- endif -%}

  {%- if image.url != blank -%}
      <div class="title__background">
        {%- render 'image',
            image: image,
            loading: 'lazy',
            class: 'title__background-image',
            size: 'xxl'
        -%}
      </div>
  {%- endif -%}
      {%- render 'section-transition',
          style: transition_style,
          color_bottom: transition_color_bottom,
          color_top: transition_color_top,
          image_bottom: image_bottom,
          image_top: image_top,
          show_top: show_transition_top,
          show_bottom: show_transition_bottom
      -%}
    </div>
{% unless full_width %}
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "Title",
    "description": "Show the section with title and description",
    "tag": "section",
    "class": "title",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tagline",
        "default": "Tagline"
      },
      {
        "type": "text",
        "id": "custom_title",
        "label": "Custom title",
        "default": "Title"
      },
      {
        "type": "contentEditor",
        "id": "custom_description",
        "label": "Custom description",
        "default": "Lorem ipsum dolor sit amet."
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "default": "booqable://assets/image-placeholder.png"
      },
      {
        "type": "select",
        "id": "rounded_corners",
        "label": "Rounded corners of background",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full-width background",
        "default": true
      },
      {
        "type": "header",
        "content": "Section transitions"
      },
      {
        "type": "select",
        "id": "transition_style",
        "label": "Transition style",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "sketch",
            "label": "Sketch"
          },
          {
            "value": "wave",
            "label": "Wave"
          }
        ],
        "default": "fade"
      },
      {
        "type": "checkbox",
        "id": "show_transition_top",
        "label": "Show top transition",
        "default": false
      },
      {
        "type": "color",
        "id": "transition_color_top",
        "label": "Top transition color",
        "default": "#FFFFFF"
      },
      {
        "type": "checkbox",
        "id": "show_transition_bottom",
        "label": "Show bottom transition",
        "default": false
      },
      {
        "type": "color",
        "id": "transition_color_bottom",
        "label": "Bottom transition color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "large"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ]
  }
{% endschema %}
